<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h1 class="modal-title"><%= t('blacklight.citations.new.title') %></h1>
</div>
<%= render 'form' %>
