
<li class="technical-university-of-dk">
  <h2 class="data-provider-heading">Technical University of Denmark</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/technical-university-of-dk.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Acronym</dt>
    <dd>DTU</dd>

    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.dtu.dk/english">http://www.dtu.dk/english</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1829</dd>

    <dt>Location</dt>
    <dd>Kongens Lyngby, Ballerup</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://orbit.dtu.dk/en/">http://orbit.dtu.dk/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="http://orbit.dtu.dk/ws/oai">http://orbit.dtu.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
