<li id="university-southern-denmark">
  <section class="core-data">
    <h2 class="data-provider-heading">University of Southern Denmark (SDU)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/university-southern-denmark.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.sdu.dk/en/">http://www.sdu.dk/en/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Established</dt>
      <dd>1966</dd>

      <dt>Location</dt>
      <dd>Odense, Kolding, Sønderborg, Esbjerg, Slagelse, Copenhagen</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://findresearcher.sdu.dk/portal/en/">http://findresearcher.sdu.dk/portal/en/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://heinz.sdu.dk:8080/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
