<li id="capital-region">
  <section class="core-data">
    <h2 class="data-provider-heading">Capital Region of Denmark (RegionH)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/capital-region.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="https://www.regionh.dk/english/">https://www.regionh.dk/english/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Established</dt>
      <dd>—</dd>

      <dt>Location</dt>
      <dd>Hillerød</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="https://forskning.regionh.dk/en/">https://forskning.regionh.dk/en/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://forskning.regionh.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>

  <ul class="card-info-actions-list">
    <li class="learn-more hide-on-dp">
      <a href="/about/data/providers/#capital-region">Learn more</a>
    </li>
    <li>
      <button class="toggle-visibility card-toggle hide-on-serp">
        <span class="s">
          <i class="glyphicon glyphicon-collapse-down"></i>
        </span>
        <span class="h">
          <i class="glyphicon glyphicon-collapse-up"></i>
        </span>
        </button>
    </li>
  </ul>

  <section class="secondary-data">
    <h4 class="data-provider-list__leaves-heading">Includes</h4>
    <ul class="data-provider-list__leaves">
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/amager-og-hvidovre-hospitaler%2878845cf2-e9c8-4c83-835d-09411bdc4df0%29.html">Amager and Hvidovre Hospital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/bispebjerg-og-frederiksberg-hospital%2820e5ba69-6033-4f41-bf9a-5cff9c4e8bff%29.html">Bispebjerg and Frederiksberg Hospital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/bornholms-hospital%283f48275d-a78f-4c83-8ddb-88cbe05858f6%29.html">Bornholms Hospital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/copenhagen-academy-for-medical-education-and-simulation%28d1ae032b-0347-48c6-ae7a-870b1571845d%29.html">Copenhagen Academy for Medical Education and Simulation</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/den-praehospitale-virksomhed--akutberedskabet%28dd694fd3-b953-49d9-bfc1-0eecd90a1a96%29.html">Emergency Medical Services Copenhagen, The Capital Region of Denmark</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/enhed-for-patientsikkerhed%2842caa4e2-e2b1-449d-8324-3108c58496c1%29.html">Enhed for Patientsikkerhed</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/herlev-og-gentofte-hospital%28e3741f49-8b71-45ba-80a4-f5ad73a06e38%29.html">Herlev and Gentofte Hospital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/region-hovedstadens-psykiatri%288d9c92f7-d549-44ec-bd01-11b8b46aa33f%29.html">Mental Health Services</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/nordsjaellands-hospital%28375804cf-2de7-4c55-b949-2317ae697d3a%29.html">Nordsjællands Hospital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/regionale-centre-og-enheder%280356e9a0-aae9-44c9-accf-8044f8ec5591%29.html">Regional Centres and Units</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/forskningscenter-for-forebyggelse-og-sundhed%286940559a-3034-48bf-b546-313ca02fa930%29.html">Research Centre for Prevention and Health, FCFS</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/rigshospitalet%281b6013e3-7c85-4ac4-b470-8c0ad3cef0ab%29.html">Rigshospitalet</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/gcpenheden%28aac36bae-3daf-4ef4-8b86-f45bbc441686%29.html">The GCP unit</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/apoteket%289531910a-e624-447c-9148-0e13bb18e2a0%29.html">The hospital pharmacy</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/forskningsenhed-for-almen-praksis%28173726a8-de0c-44bf-9390-a79492f12a31%29.html">The research unit for general practice</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://forskning.regionh.dk/en/organisations/universitetshospitalernes-center-for-sundhedsfaglig-forskning%282d5f5f35-6532-4763-b784-2a11bf482924%29.html">The University Hospitals Centre for Health Research</a>
        <i class="fa fa-external-link"></i>
      </li>
    </ul>
  </section>
</li>
