<li id="danish-defence-college">
  <h2 class="data-provider-heading">Royal Danish Defence College</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/danish-defence-college.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Acronym</dt>
    <dd>FAK</dd>

    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.fak.dk/en">http://www.fak.dk/en</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>2001</dd>

    <dt>Location</dt>
    <dd>Svanemøllens Kasserne, Vognmandsmarken</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://pure.fak.dk/portal/en/">http://pure.fak.dk/portal/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="http://pure.fak.dk/ws/oai">http://pure.fak.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
