<li id="architecture-design-conservation">
  <h2 class="data-provider-heading">Research institutions in Architecture, Design and Conservation</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/architecture-design-conservation.#{I18n.locale}.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://aarch.dk/info/research/research-database/">http://aarch.dk/info/research/research-database/</a>
      <i class="fa fa-external-link"></i>
      (<a target="_blank" href="http://www.re-ad.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
      <i class="fa fa-external-link"></i>
    </dd>


    <dt>Includes</dt>
    <dd>KADK, AAA and DSKD</dd>
  </dl>

  <!-- TODO: sub-schools -->

  <ul class="data-provider-list__sub">
    <li>
      <h3 class="data-provider-list__sub__heading">The Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation (KADK)</h3>

      <dl class="provider-details-list">
        <dt>Web</dt>
        <dd>
          <a target="_blank" href="https://kadk.dk/en/">https://kadk.dk/en/</a>
          <i class="fa fa-external-link"></i>
        </dd>

        <dt>Established</dt>
        <dd>2011</dd>

        <dt>Location</dt>
        <dd>Copenhagen, Bornholm</dd>
      </dl>

      <h4 class="data-provider-list__leaves-heading">Includes</h4>
      <ul class="data-provider-list__leaves">
        <li>
          <a target="_blank" href="https://kadk.dk/en/school-architecture">School of Architecture</a>
          <i class="fa fa-external-link"></i>
        </li>
        <li>
          <a target="_blank" href="https://kadk.dk/en/school-design">School of Design</a>
          <i class="fa fa-external-link"></i>
        </li>
        <li>
          <a target="_blank" href="https://kadk.dk/en/school-conservation">School of Conservation</a>
          <i class="fa fa-external-link"></i>
        </li>
      </ul>
    </li>

    <li>
      <h3 class="data-provider-list__sub__heading">Aarhus School of Architecture (AAA)</h3>
      <dl class="provider-details-list">
        <dt>Web</dt>
        <dd>
          <a target="_blank" href="http://aarch.dk/">http://aarch.dk/</a>
          <i class="fa fa-external-link"></i>
        </dd>

        <dt>Established</dt>
        <dd>1965</dd>

        <dt>Location</dt>
        <dd>Aarhus</dd>
      </dl>
    </li>

    <li>
      <h3 class="data-provider-list__sub__heading">Design School Kolding (DSKD)</h3>
      <dl class="provider-details-list">
        <dt>Web</dt>
        <dd>
          <a target="_blank" href="https://www.designskolenkolding.dk/en">https://www.designskolenkolding.dk/en</a>
          <i class="fa fa-external-link"></i>
        </dd>

        <dt>Established</dt>
        <dd>1967</dd>

        <dt>Location</dt>
        <dd>Kolding</dd>
      </dl>
    </li>
  </ul>
</li>
