<li id="danish-defence-college">
  <section class="core-data">
    <h2 class="data-provider-heading">Forsvarsakademiet (FAK)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/danish-defence-college.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.fak.dk/">http://www.fak.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>2001</dd>

      <dt>Sted</dt>
      <dd>Svanemøllens Kasserne, Vognmandsmarken</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://pure.fak.dk/portal/da/">http://pure.fak.dk/portal/da/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://pure.fak.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
