<li id="cph-business-school">
  <h2 class="data-provider-heading">Copenhagen Business School</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/cph-business-school.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Acronym</dt>
    <dd>CBS</dd>

    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.cbs.dk/en">http://www.cbs.dk/en</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1917</dd>

    <dt>Location</dt>
    <dd>Frederiksberg</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://research.cbs.dk/en/">http://research.cbs.dk/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="http://research.cbs.dk/ws/oai">http://research.cbs.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
