<li id="capital-region">
  <section class="core-data">
    <h2 class="data-provider-heading">University Colleges Denmark</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/ucviden.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://danskeprofessionshøjskoler.dk/">http://danskeprofessionshøjskoler.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Established</dt>
      <dd>—</dd>

      <dt>Location</dt>
      <dd>Copenhagen</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/">https://www.ucviden.dk/portal/en/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="https://www.ucviden.dk/ws/oai?verb=Identity">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>

  <ul class="card-info-actions-list">
    <li class="learn-more hide-on-dp">
      <a href="/about/data/providers/#capital-region">
        <i class="glyphicon glyphicon-info-sign"></i>
        More
      </a>
    </li>
    <li>
      <button class="toggle-visibility card-toggle hide-on-serp">
        <span class="s">
          <i class="glyphicon glyphicon-collapse-down"></i>
        </span>
        <span class="h">
          <i class="glyphicon glyphicon-collapse-up"></i>
        </span>
        </button>
    </li>
  </ul>

  <section class="secondary-data">
    <h4 class="data-provider-list__leaves-heading">Includes</h4>
    <ul class="data-provider-list__leaves">
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/via-university-college%28095d7a06-cabc-47e4-80c1-00c5289cc326%29.html">VIA University College</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/ucc%28f79068e9-c93a-4287-8ed8-f893afc659f2%29.html">University College Capital</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/university-college-lillebaelt%28888c4baf-c408-415e-bd37-a329d2919ce6%29.html">University College Lillebaelt</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/uc-syd%2808595379-20dd-4667-bb05-1b595ad0beed%29.html">University College South Denmark</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/professionshoejskolen-metropol%28075314d2-0462-4ac7-83e8-744ced421d97%29.html">Metropolitan University College</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/ucsj%28428ba5fa-979c-46e0-8d71-83aa0db3b345%29.html">University College Zealand</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/ucn%28482c0cab-bae2-4cf7-abf8-c8dbe7b3de98%29.html">University College of Northern Denmark</a>
        <i class="fa fa-external-link"></i>
      </li>

      <li>
        <a target="_blank" href="https://www.ucviden.dk/portal/en/organisations/danmarks-medie-og-journalisthoejskole%28a2e76e16-e70a-41f4-8f67-f65ab82e9f30%29.html">Danish School of Media and Journalism</a>
        <i class="fa fa-external-link"></i>
      </li>
    </ul>
  </section>
</li>
