
<li id="university-southern-denmark">
  <h2 class="data-provider-heading">University of Southern Denmark (SDU)</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/university-southern-denmark.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.sdu.dk/en/">http://www.sdu.dk/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1966</dd>

    <dt>Location</dt>
    <dd>Odense, Kolding, Sønderborg, Esbjerg, Slagelse, Copenhagen</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://findresearcher.sdu.dk/portal/en/">http://findresearcher.sdu.dk/portal/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="https://heinz.sdu.dk:8080/ws/oai">https://heinz.sdu.dk:8080/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
