<li id="ministry-of-culture">
  <section class="core-data">
    <h2 class="data-provider-heading">Kulturministeriet (KUM)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/ministry-of-culture.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://kum.dk/">http://kum.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>—</dd>

      <dt>Sted</dt>
      <dd>Copenhagen</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://pure-01.kb.dk/portal/da/">http://pure-01.kb.dk/portal/da/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://pure-01.kb.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>

  <ul class="card-info-actions-list">
    <li class="learn-more hide-on-dp">
      <a href="/about/data/providers/#ministry-of-culture">
        <i class="glyphicon glyphicon-info-sign"></i>
        Mere
      </a>
    </li>
    <li>
      <button class="toggle-visibility card-toggle hide-on-serp">
        <span class="s">
          <i class="glyphicon glyphicon-collapse-down"></i>
        </span>
        <span class="h">
          <i class="glyphicon glyphicon-collapse-up"></i>
        </span>
      </button>
    </li>
  </ul>

  <section class="secondary-data hide-on-serp">
    <h4 class="data-provider-list__leaves-heading">Inkluderer</h4>
    <ul class="data-provider-list__leaves">
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/kulturministeriet%28808250f0-26d5-44f8-90d1-f092d20ce9e6%29.html">Kulturministeriet</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/dansk-landbrugsmuseum%2813b92634-ac9a-4f4f-89bc-5e8e85fe081e%29.html">Dansk Landbrugsmuseum</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/jagt-og-skovbrugsmuseum%28f9368eff-1794-42ab-a96c-b791f457b25f%29.html">Jagt og Skovbrugsmuseum</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/danmarks-kunstbibliotek%28ddb9af1d-1b01-4297-8d6c-f19f3d9176fd%29.html">Danmarks Kunstbibliotek</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/den-hirschsprungske-samling%28f8266890-3b34-4dc2-999a-6f0ab692b35f%29.html">Den Hirschsprungske Samling</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/ordrupgaard%287a244512-fef9-4ddc-aa49-7c8e81e0e648%29.html">Ordrupgaard</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/rigsarkivet%287d4a2430-6f3a-4ef4-93ce-77883bb9f1c0%29.html">Rigsarkivet</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/det-kongelige-danske-kunstakademi-billedkunstskolerne%28de5e8736-0eba-4fa7-ba30-0c8498919f8b%29.html">Det Kongelige Danske Kunstakademi, Billedkunstskolerne</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/statens-museum-for-kunst%28652489a7-6040-486c-8df8-c6b1143eb58e%29.html">Statens Museum for Kunst</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/det-kongelige-bibliotek%2860906427-1125-4261-9490-24e1240b07f7%29.html">Det Kongelige Bibliotek</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/statens-arkiver%2827bcd88d-ba25-4427-ba1c-f187fb1bc16a%29.html">Statens Arkiver Overtaget af Rigsarkivet</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/nationalmuseet%28d71b9871-ab9a-4909-8cb0-380733d8b650%29.html">Nationalmuseet</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/danmarks-og-middelhavslandenes-oldtid%28e61bf3f3-2b4e-46f5-b5a0-8a5848799b16%29.html">Danmarks og Middelhavslandenes Oldtid </a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/miljoearkaeologi-og-materialeforskning%28b439aeaa-4399-4768-a411-ddf33eda46a4%29.html">Miljøarkæologi og Materialeforskning</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/middelalder-renaessance-og-numismatik%2825654a43-2b24-4034-8742-417a5b107258%29.html">Middelalder, Renæssance og Numismatik</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/nyere-tid-og-verdens-kulturer%287167521f-a424-4005-baae-392261dc6d62%29.html">Nyere Tid og Verdens Kulturer</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/formidling%2816cc0087-2d0c-4f7c-a9d1-c0d8e3dfaaa0%29.html">Formidling</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/forskning-og-formidling-sekretariat%28ac825c21-0ad2-4812-8ce2-96ecf44aaf37%29.html">Forskning og Formidling, Sekretariat</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/landbokultur-og-soefart%2840be9e75-a030-4699-a43e-b12b71d3e91f%29.html">Landbokultur og Søfart</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/magasinering-og-kulturhistorisk-konservering%2831f64619-1a62-4741-9dc1-93de3eba922f%29.html">Magasinering og Kulturhistorisk Konservering</a>
        <i class="fa fa-external-link"></i>
      </li>
      <li>
        <a target="_blank" href="pure-01.kb.dk/portal/da/organisations/krig-og-besaettelse%28aec8e024-a96c-4118-8387-05e44eaf5d7a%29.html">Krig og Besættelse</a>
        <i class="fa fa-external-link"></i>
      </li>
    </ul>
  </section>
</li>
