<li id="aalborg-university">
  <h2 class="data-provider-heading">Aalborg University (AAU)</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/aalborg-university.#{I18n.locale}.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.en.aau.dk/">http://www.en.aau.dk/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1974</dd>

    <dt>Location</dt>
    <dd>Aalborg, Esbjerg, Copenhagen</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://vbn.aau.dk/en/">http://vbn.aau.dk/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="http://vbn.aau.dk/ws/oai">http://vbn.aau.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
