<li id="copenhagen-university">
  <section class="core-data">
    <h2 class="data-provider-heading">Københavns Universitet (KU)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/copenhagen-university.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.ku.dk/">http://www.ku.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>1479</dd>

      <dt>Sted</dt>
      <dd>København</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://forskning.ku.dk/find-en-forsker/">http://forskning.ku.dk/find-en-forsker/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://curis.ku.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
