<li class="aarhus-university">
  <h2 class="data-provider-heading">Aarhus University</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/aarhus-university.#{I18n.locale}.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Acronym</dt>
    <dd>AU</dd>

    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.au.dk/en/">http://www.au.dk/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1928</dd>

    <dt>Location</dt>
    <dd>Aarhus, Copenhagen, Herning</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://pure.au.dk/portal/en/">http://pure.au.dk/portal/en/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="https://pure.au.dk/ws/oai">https://pure.au.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
