<li id="copenhagen-university">
  <h2 class="data-provider-heading">University of Copenhagen (KU)</h2>
  <figure class="provider-logo">
    <%= image_tag("data-providers/copenhagen-university.#{I18n.locale}.png") %>
  </figure>
  <dl class="provider-details-list">
    <dt>Web</dt>
    <dd>
      <a target="_blank" href="http://www.ku.dk/english">http://www.ku.dk/english</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>Established</dt>
    <dd>1479</dd>

    <dt>Location</dt>
    <dd>Copenhagen</dd>

    <dt>CRIS</dt>
    <dd>
      <a target="_blank" href="http://research.ku.dk/find-a-researcher/">http://research.ku.dk/find-a-researcher/</a>
      <i class="fa fa-external-link"></i>
    </dd>

    <dt>OAI repository URL</dt>
    <dd>
      <a target="_blank" href="http://curis.ku.dk/ws/oai">http://curis.ku.dk/ws/oai</a>
      <i class="fa fa-external-link"></i>
    </dd>
  </dl>
</li>
