<li id="aalborg-university">
  <section class="core-data">
    <h2 class="data-provider-heading">Aalborg Universitet (AAU)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/aalborg-university.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.aau.dk/">http://www.aau.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>1974</dd>

      <dt>Sted</dt>
      <dd>Aalborg, Esbjerg, København</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://vbn.aau.dk/da/">http://vbn.aau.dk/da/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://vbn.aau.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
