<li id="architecture-design-conservation">
  <section class="core-data">
    <h2 class="data-provider-heading">Forskninginstitutioner i Arkitektur, Design og Konservering.</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/architecture-design-conservation.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>—</dd>

      <dt>Grundlagt</dt>
      <dd>—</dd>

      <dt>Sted</dt>
      <dd>Aarhus</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://aarch.dk/info/research/research-database/da/">http://aarch.dk/info/research/research-database/da/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://www.re-ad.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>

  <ul class="card-info-actions-list">
    <li class="learn-more hide-on-dp">
      <a href="/about/research-institutions/#architecture-design-conservation">
        <i class="glyphicon glyphicon-info-sign"></i>
        Mere
      </a>
    </li>
    <li>
      <button class="toggle-visibility card-toggle hide-on-serp">
        <span class="s">
          <i class="glyphicon glyphicon-collapse-down"></i>
        </span>
        <span class="h">
          <i class="glyphicon glyphicon-collapse-up"></i>
        </span>
      </button>
    </li>
  </ul>

  <section class="secondary-data">
    <h4 class="data-provider-list__leaves-heading">Inkluderer</h4>
    <ul class="data-provider-list__sub kadk">
      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="https://kadk.dk/">Det Kongelige Danske Kunstakademis Skoler for Arkitektur, Design og Konservering (KADK)</a>
        </h3>
      </li>

      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="http://aarch.dk/">Arkitektskolen Aarhus (AAA)</a>
        </h3>
      </li>

      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="https://www.designskolenkolding.dk/">Designskolen Kolding (DSKD)</a>
        </h3>
      </li>
    </ul>
  </section>
</li>

