<li id="it-university-of-cph">
  <section class="core-data">
    <h2 class="data-provider-heading">IT University of Copenhagen (ITU)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/it-university-of-cph.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://en.itu.dk/">http://en.itu.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Established</dt>
      <dd>1999</dd>

      <dt>Location</dt>
      <dd>Ørestad</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="https://pure.itu.dk/portal/en/">https://pure.itu.dk/portal/en/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="https://pure.itu.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
