<li id="cph-business-school">
  <section class="core-data">
    <h2 class="data-provider-heading">Copenhagen Business School (CBS)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/cph-business-school.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.cbs.dk/">http://www.cbs.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>1917</dd>

      <dt>Sted</dt>
      <dd>Frederiksberg</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://research.cbs.dk/da/publications/search.html?showAdvanced=true&advanced=true">http://research.cbs.dk/da/publications/search.html?showAdvanced=true&advanced=true</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://research.cbs.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
