<li id="architecture-design-conservation block">
  <section class="core-data">
    <h2 class="data-provider-heading">Research institutions in Architecture, Design and Conservation</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/architecture-design-conservation.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>—</dd>

      <dt>Established</dt>
      <dd>—</dd>

      <dt>Location</dt>
      <dd>Aarhus</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://aarch.dk/info/research/research-database/">http://aarch.dk/info/research/research-database/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://www.re-ad.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>

  <ul class="card-info-actions-list">
    <li class="learn-more hide-on-dp">
      <a href="">Learn more</a>
    </li>
    <li>
      <button class="toggle-visibility card-toggle hide-on-serp">
        <span class="s">
          <i class="glyphicon glyphicon-collapse-down"></i>
        </span>
        <span class="h">
          <i class="glyphicon glyphicon-collapse-up"></i>
        </span>
        </button>
    </li>
  </ul>

  <section class="secondary-data">
    <h4 class="data-provider-list__leaves-heading">Includes</h4>
    <ul class="data-provider-list__sub kadk">
      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="https://kadk.dk/en/">The Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation (KADK)</a>
        </h3>
      </li>

      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="http://aarch.dk/">Aarhus School of Architecture (AAA)</a>
        </h3>
      </li>

      <li>
        <h3 class="data-provider-list__sub__heading">
          <a target="_blank" href="https://www.designskolenkolding.dk/en">Design School Kolding (DSKD)</a>
        </h3>
      </li>
    </ul>
  </section>
</li>

