<li id="roskilde-university">
  <section class="core-data">
    <h2 class="data-provider-heading">Roskilde Universitet (RUC)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/roskilde-university.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://ruc.dk/">http://ruc.dk/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>1972</dd>

      <dt>Sted</dt>
      <dd>Roskilde</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://ruc.dk/forskning/">http://ruc.dk/forskning/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://rucforsk.ruc.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
