<li id="aarhus-university">
  <section class="core-data">
    <h2 class="data-provider-heading">Aarhus Universitet (AU)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/large/aarhus-university.#{I18n.locale}.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.au.dk/da/">http://www.au.dk/da/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Grundlagt</dt>
      <dd>1928</dd>

      <dt>Sted</dt>
      <dd>Aarhus, Copenhagen, Herning</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://pure.au.dk/portal/da/organisations/8000/publications.html">http://pure.au.dk/portal/da/organisations/8000/publications.html</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="https://pure.au.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
