<li id="roskilde-university">
  <section class="core-data">
    <h2 class="data-provider-heading">Roskilde University (RUC)</h2>
    <figure class="provider-logo">
      <%= image_tag("data-providers/roskilde-university.png") %>
    </figure>
    <dl class="provider-details-list">
      <dt>Web</dt>
      <dd>
        <a target="_blank" href="http://www.ruc.dk/en/">http://www.ruc.dk/en/</a>
        <i class="fa fa-external-link"></i>
      </dd>

      <dt>Established</dt>
      <dd>1972</dd>

      <dt>Location</dt>
      <dd>Roskilde</dd>

      <dt>CRIS</dt>
      <dd>
        <a target="_blank" href="http://www.ruc.dk/en/research/">http://www.ruc.dk/en/research/</a>
        <i class="fa fa-external-link"></i>
        (<a target="_blank" href="http://rucforsk.ruc.dk/ws/oai?verb=Identify">OAI-PMH Identity</a>)
        <i class="fa fa-external-link"></i>
      </dd>
    </dl>
  </section>
</li>
