


ul.horizontal li { display: inline-block; }





body#data-providers .header__wrapper {
  border-bottom: 1px solid $blue-3;
}




// div.availability-panel {
//   background: lighten($blue-3, 17%);
//   margin-top: 1em;
//   padding: .6em 2em .4em 0;
//   border-radius: 4px;
//   position: relative;
// }
// div.availability-panel--show {
//   background: inherit;
//   margin-top: 0;
//   padding: 0;
//   border-radius: 0;
// }

// div.availability-panel ul.institutions-list {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
//   @include respond-to($iphone_landscape) { display: block; }
// }

// div.availability-panel ul.institutions-list li {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
//   @include respond-to($iphone_landscape) { margin: .1em 0 .1em .1em; }
// }
// div.availability-panel--show ul.institutions-list li { margin-bottom: .3em; }

// //div.availability-panel--show ul.institutions-list i { color: $blue-2; }

// div.availability-panel--show ul.institutions-list a:hover,
// div.availability-panel--show ul.institutions-list a:hover i { color: $orange; }



a.details-link {
  display: block;
  font-size: calc-em(21px);
  position: absolute;
  top: -9px;
  right: 10px;
}
//color overrides:
//dl.document-metadata dd[class^="ddf-index"] a.details-link { color: rgba(0,0,0, .3); }
//dl.document-metadata dd[class^="ddf-index"] a.details-link:hover { color: $orange; }






#chart { text-align: center; }

div.intro { margin-bottom: .5em; }

div.chart {
 @include respond-to($screen-md-min) {
    margin-bottom: 3em; // TODO
  }
}

div.bookmark_document {}

body#data-providers { background: $blue-4; }

div.document-header--show { margin-bottom: 1em; }



// Override BS default:
form.form-horizontal div.checkbox {
  padding: 0;
  min-height: unset;
}
label.toggle_bookmark { display: inline; }

div.bookmark_document input.toggle_bookmark {
  // display: inline-block;
  position: relative;
  vertical-align: 5%;
  //top: 3px;
}



