h1.centered { text-align: center; }
h1.feature-heading {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: .05em;
}

h1.feature-heading {
  font-family: $sans;
  font-size: calc-em(20px);
  font-weight: 600;
  letter-spacing: .07em;
  margin: .2em 0 1.5em 0em;
}

h1.data-provider-heading {
  font-family: $headline;
  font-size: calc-em(20px);
  line-height: calc-em(20px);
  margin: .5em 0;
  color: $bluewood;
  font-weight: 700;
  //letter-spacing: .07em;
}

ul.data-providers-list {
  -moz-column-gap: 2.5em;
  -webkit-column-gap: 2.5em;
}
ul.data-providers-list li { list-style-type: none; }
ul.data-providers-list > li {
  background: #fff;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0, .2);

  -webkit-box-shadow: 10px 5px 5px black;
  -moz-box-shadow: 10px 5px 5px black;
  box-shadow: 2px 2px 2px rgba(0,0,0, .4);

  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
}

section.core-data { padding: 1em 1em 0 1em; }
section.secondary-data {
  display: none;
  background: lighten($blue-2, 60%);
  padding: 1em;
}

dl.provider-details-list { margin-bottom: 1em; }
dl.provider-details-list dt {
  float: left;
  clear: left;
  // width: 250px;
  // text-align: right;
  font-weight: 600;
  padding-right: 5px;
  color: $blue-2;
}
dl.provider-details-list dt:after { content: ":"; }
dl.provider-details-list dd {
  // margin: 0 0 0 255px;
  // padding: 0 0 0.5em 0;
  margin-bottom: .4em;
}

dl.provider-details-list dd i {
  color: $blue-2;
  font-size: 0.8em;
  margin-left: 0.25em;
  vertical-align: super;
}

h2.data-provider-heading,
h2.data-provider-heading {
  font-family: $headline;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-weight: 500;
  font-size: calc-em(18px);
  line-height: calc-em(20px);
  margin: 0 0 1em 0;
  color: $bluewood;
}

ul.data-providers-list li:target {
  // background: lighten($blue-3, 17%);
  border: 1px solid $link-color-auxiliary;
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
  0% { background-color: rgba(0,0,0,.1); }
  100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(0,0,0,.1); }
  100% { background-color: rgba(0,0,0,0); }
}

h3.data-provider-list__sub__heading {
  font-family: $headline;
  font-size: calc-em(18px);
  line-height: calc-em(20px);
  margin: 0 0 .7em 0;
  color: $bluewood;
  font-weight: 500;
}
h3.data-provider-list__sub__heading:last-child { margin-bottom: 0; }

h4.data-provider-list__leaves-heading {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: calc-em(15px);
  line-height: calc-em(20px);
  // font-style: italic;
  margin: .5em 0 .7em 0;
  color: $bluewood;
  font-weight: 600;
}

ul.data-provider-list__sub li {
  margin-bottom: .5em;
  padding: 0 0 0 1em;
}
ul.data-provider-list__sub li:last-child { margin-bottom: 0; }

ul.data-provider-list__leaves { margin-bottom: 1.5em; }

ul.data-provider-list__leaves li {
  margin-bottom: .3em;
  padding: 0 0 0 1em;
}

ul.data-provider-list__leaves li i {
  color: $blue-2;
  font-size: 0.8em;
  margin-left: 0.25em;
  vertical-align: super;
}

button.card-toggle {
  font-size: calc-em(25px);
  color: $link-color;
  padding: 0;
  border: 0;
  background: inherit;
  // margin-left: 95%;
  // margin: 0 0 .3em 95%;
}
button.card-toggle:hover {
  background: inherit;
}
button.card-toggle:active {
  color: $orange;
  border: 0;
}
button.card-toggle .glyphicon {
  font-size: calc-em(15px);
  vertical-align: -8%;
}

ul.data-provider-cards-list .hide-on-serp,
ul.data-providers-list .hide-on-dp { display: none; }

ul.card-info-actions-list {
  margin: 0 1em 1em 0;
  text-align: right;
}
ul.card-info-actions-list li {
  margin: 0;
  display: inline-block;
  text-align: right;
}
ul.card-info-actions-list li:not(:last-child) { margin-right: .5em; }
ul.card-info-actions-list li.learn-more {
  font-family: $serif;
  font-style: italic;
  font-size: calc-em(20px);
  text-decoration: none;
}
ul.card-info-actions-list li.learn-more a {
  text-decoration: none;
  border: 0;
  padding: .3em .4em .1em .4em;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
ul.card-info-actions-list li.learn-more a:after { content: " \02192"; }
ul.card-info-actions-list li.learn-more a:hover {
  background: lighten($bluewood, 60%);
  color: $orange;
}

li.learn-more i.glyphicon {
  font-size: .9em;
  vertical-align: -5%;
}

