ul.search-nav {
  li {
    a {
      padding: 5px 10px;
      background-color: $blue-3;
      color: $blue-1;
      margin-right: 0;
      border: none;
      &:hover {
        background-color: $blue-3;
        color: $orange;
        border-color: $blue-3;
      }
      &:focus { outline: none; }

    }
    &.active > a {
      background-color: $button-blue;
      color: $blue-4;
      border: none;
      &:hover, &:focus {
        background-color: $button-blue;
        color: $blue-4;
        border: none;
      }
    }
  }
}

form.navbar-form {
  margin-top: 0;
}