h1.statistics-headline {
  font-family: $headline;
  text-transform: uppercase;
  text-align: center;
  font-size: calc-em(20px);
  letter-spacing: .09em;
  margin: .5em 0 1.5em 0;
}

nav.statistics-local {
  background: lighten($blue-3, 17%);
  text-align: center;
  padding: .5em 0 .7em 0;
  font-size: .95em;
  border-top: 1px solid $blue-3;
  border-bottom: 1px solid $blue-3;
}

p.jump {
  font-weight: 600;
  margin: 0 0 .25em 0;
}

ul.statistics-sections-list {
  margin: 0;
  padding: 0;
}
ul.statistics-sections-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
  @include respond-to($screen-sm-min) {
    margin-bottom: .3em;
  }
}
ul.statistics-sections-list li:not(:last-child) { margin-right: 1em; }

ul.statistics-sections-list li i {
  color: $blue-2;
  font-size: calc-em(19px);
}

a[name],
a[name]:hover { text-decoration: none; }

h3.facet-visualization-heading {
  text-align: center;
  // font-family: $headline;
  font-size: calc-em(17px);
  font-weight: 500;
  margin: 1em 0 2em 0;
}
h3.facet-visualization-heading--plot { margin: 1.5em 0 1.25em 0; }

a.to-the-top {
  color: $blue-3;
  font-size: 1.5em;
}
a.to-the-top:hover { color: $blue-2; }
a.to-the-top:visited,
a.to-the-top:visited:hover { color: $blue-3; }
a.to-the-top:active { color: $orange; }

