@import "../base/all";

ul.text,
ol.text { @include respond-to($iphone_landscape) { margin-left: 1em; } }

nav.upper { font-size: .9em; }


em.number-of-items { color: #777; }

h1.facet-heading {
  font-size: 1em;
  line-height: 1.25em;
  background: #eff4ff;
  padding: .5em 1em;
  //text-transform: uppercase;
}

h1.facet-heading span.close { font-size: 1.4em; }



ul.admin a {
  padding: 0;
  margin: 0;
}
ul.admin a:link    { color: lighten($bluewood, 45%); }
ul.admin a:visited { color: lighten($bluewood, 45%); }
ul.admin a:hover,
ul.admin a:visited:hover,
ul.admin a:focus,
ul.admin a:active  { color:  $orange; }

ul.admin .glyphicon-flag {
  padding-right: .3em;
  color: $blue-4;
}


nav.global > ul { color: $blue-3; }
nav.global > ul li a:link { color: $blue-4; }
nav.global > ul li a:visited { color: $blue-4; }
nav.global > ul li a:hover { color: $orange; }
nav.global > ul li a:active { color: $orange; }

h1.static-page-heading {
  font-family: $headline;
  font-size: calc-em(27px);
  line-height: calc-em(30px);
  margin: 0 0 .5em 0;
  color: $bluewood;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .07em;
}

p.top-cta {
  margin-top: .5em;
  @include respond-to($screen-md-min) { float: none; }
}

a.btn-info:link,
a.btn-info:visited,
a.btn-info:hover,
a.btn-info:visited:hover { color: #fff; }
a.btn-info:active        { color: #eee; }

ul.data-providers-list li { list-style-type: none; }

h1.data-provider-heading {
  font-family: $headline;
  font-size: calc-em(20px);
  line-height: calc-em(20px);
  margin: .5em 0;
  color: $bluewood;
  font-weight: 700;
  //letter-spacing: .07em;
}

a.btn-danger:link,
a.btn-danger:hover,
a.btn-danger:visited:hover,
a.btn-danger:active { color: #fff; }

h1.search-page-heading {
  font-family: $headline;
  font-weight: 500;
  font-size: calc-em(23px);
  line-height: calc-em(35px);
  margin: .25em 0 0 0;
  color: $blue-1;
}

h3.no-history { margin-bottom: 10em; }

div.availability-panel a { color: $link-color; }

a.details-link:hover,
a.details-link:visited:hover { color: $orange; }
a.details-link:visited { color: $link-color-auxiliary; }

ul.institutions-list a:hover,
ul.institutions-list a:visited:hover { color: $orange; }




strong.ddf { font-weight: 600; }

article.static h1 {
  font-family: $headline;
  font-size: calc-em(30px);
  margin: .3em 0 .7em 0;
  font-weight: 400;
  color: $bluewood;
}

article.static h2 {
  font-family: $headline;
  font-size: calc-em(23px);
  margin: .1em 0 .3em 0;
  font-weight: 400;
  color: $bluewood;
}
article.static h2 a:hover {
  background: inherit;
  color: inherit;
}

article.static h3 {
  font-family: $headline;
  font-size: calc-em(20px);
  margin: .1em 0 .3em 0;
  font-weight: 500;
  color: $bluewood;
}

article.search-docs p.search-example {
  border: 1px solid $blue-3;
  padding: .5em;
  position: relative;
}

article.search-docs p.search-example i.glyphicon {
  position: absolute;
  top: 35%;
  right: 15px;
  color: $blue-2;
}

article.search-docs span.search-example {
  border: 1px solid $blue-3;
  padding: 0 .5em .2em .5em;
}

article.search-docs span.search-result { font-weight: bold; }

article.search-docs span.operator { font-weight: 600; }

article.search-docs p.search-explanation { margin: .5em 0 0 0; }

article.static a:link {
  color: $link-color;
  //text-decoration: underline;
  border-bottom: 1px dotted $blue-2;
}
article.static a:hover,
article.static a:visited:hover {
  color: $orange;
  text-decoration: none;
  background: $blue-4;
}
article.static a:visited { color: inherit; }

ul.faq-list { margin: 1.5em 0 2em 0; }

span.p-intro {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .07em;
}

strong.name { font-weight: 600; }
address.adr { margin-left: 1em; }

h1.logo a:link,
h1.logo a:hover,
h1.logo a:visited,
h1.logo a:visited:hover,
h1.logo a:visited:active {
  text-decoration: none;
  color: #fff;
}

h1.site-section {
  font-family: $headline;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: calc-em(18px);
  font-weight: 500;
  //font-style: italic;
  margin: .1em 0 0 0;
  color: $blue-1;
  float: left;

  @include respond-to($iphone_landscape) {
    margin-bottom: .25em;
    float: none;
  }
}

h1.site-section .glyphicon {
  //font-size: .8em;
  color: rgba(0,0,0, .5);
  color: $blue-2;
  padding-right: .125em;
}

ul.subnav-items-list {
  margin: 0;
  font-family: $headline;
  font-weight: 500;
  //text-align: right;
  @include above-viewport($iphone_landscape) {
    float: right;
  }
}

p.pitch {
  font-family: $serif;
  font-size: calc-em(26px);
  line-height: 1.4em;
  color: $blue-2;
  margin-bottom: .7em;
  @include respond-to($screen-md-min) {
    line-height: 1.3em;
  }
  @include respond-to($iphone_landscape) {
    line-height: 1.2em;
  }
}

em.news-tag {
  color: $orange;
  font-weight: 700;
}

.chart-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: $serif;
  font-weight: 600;
  font-size: calc-em(17px);
  line-height: calc-em(20px);
  letter-spacing: .1em;
  color: $blue-2;
  margin: 1em 0 1.5em 0;
}
.chart-heading em {
 text-transform: none;
 letter-spacing: .05em;
}
.chart-heading--universities {
  margin: 8.3em 0 1.5em 0;
  @include respond-to($screen-md-min) { margin: 6em 0 1.5em 0; }
}



a.select-document {
  font-size: calc-em(20px);
  vertical-align: -10%;
}

// disable the backlink for inactive Aarhus researchers (index and show pages)
.data-providers .rdb_au.person.inactive {
  a { pointer-events: none;  }
  i { display: none; }
}
/// just show page
.data-providers li.rdb_au.person.inactive {
  a:after {
    content: ' \00a0\00a0\00a0\00a0\00a0 Unavailable at provider';
    color: #777777;
  }
}

h1.selected-documents__heading {
  font-size: calc-em(16px);
  font-weight: 700;
  margin: 0;
  padding: 1em .8em;

  background: $blue-2;
  color: #fff;
}
h1.selected-documents__heading i.glyphicon {
  font-size: calc-em(19px);
  padding: .1em .4em .1em 0;
}

ol.selected-documents__list { font-size: .9em; }
ul.icon-labels--selected i.glyphicon { vertical-align: 6%; }
ul.selected-documents__actions-list { margin: 1em 0; }
ul.selected-documents__actions-list li { list-style-type: none; }
ul.selected-documents__actions-list ul.export-options-list { margin: .25em 0 0 1.7em; }
ul.selected-documents__actions-list ul.export-options-list li { margin-bottom: .25em; }

ul.selected-documents__actions-list li a { border-bottom: 1px dashed #ccc; }
ul.selected-documents__actions-list li a:hover {
  background: #eee;
  text-decoration: none;
  border: 0;
}
ul.selected-documents__actions-list i.glyphicon-remove-circle { color: $action-red; }

ol.selected-documents__list li { display: table; }
ol.selected-documents__list li a {
  display: table-cell;
  padding-left: .25em;
  position: relative;
  top: 2px;
  color: $link-color-auxiliary;
  //font-size: calc-em(17px);
}

dl.provider-details-list { margin-bottom: 1em; }
dl.provider-details-list dt {
  float: left;
  clear: left;
  // width: 250px;
  // text-align: right;
  font-weight: 600;
  padding-right: 5px;
  color: $blue-2;
}
dl.provider-details-list dt:after { content: ":"; }
dl.provider-details-list dd {
  // margin: 0 0 0 255px;
  // padding: 0 0 0.5em 0;
  margin-bottom: .4em;
}

dl.provider-details-list dd i {
  color: $blue-2;
  font-size: 0.8em;
  margin-left: 0.25em;
  vertical-align: super;
}

// TODO: article.static h1 overrides second rule
ul.data-providers-list h2.data-provider-heading,
ul.data-provider-cards-list h2.data-provider-heading {
  font-family: $headline;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-weight: 500;
  font-size: calc-em(18px);
  line-height: calc-em(20px);
  margin: 0 0 1em 0;
  color: $bluewood;
}

ul.data-providers-list li:target {
  // background: lighten($blue-3, 17%);
  border: 1px solid $link-color-auxiliary;
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
  0% { background-color: rgba(0,0,0,.1); }
  100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(0,0,0,.1); }
  100% { background-color: rgba(0,0,0,0); }
}

ul.data-providers-list h3.data-provider-list__sub__heading {
  font-family: $headline;
  font-size: calc-em(18px);
  line-height: calc-em(20px);
  margin: 0 0 .7em 0;
  color: $bluewood;
  font-weight: 500;
}
ul.data-providers-list h3.data-provider-list__sub__heading:last-child { margin-bottom: 0; }

ul.data-providers-list h4.data-provider-list__leaves-heading {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: calc-em(15px);
  line-height: calc-em(20px);
  // font-style: italic;
  margin: .5em 0 .7em 0;
  color: $bluewood;
  font-weight: 600;
}

ul.data-provider-list__sub li {
  margin-bottom: .5em;
  padding: 0 0 0 1em;
}
ul.data-provider-list__sub li:last-child { margin-bottom: 0; }

ul.data-provider-list__leaves { margin-bottom: 1.5em; }

ul.data-provider-list__leaves li {
  margin-bottom: .3em;
  padding: 0 0 0 1em;
}

ul.data-provider-list__leaves li i {
  color: $blue-2;
  font-size: 0.8em;
  margin-left: 0.25em;
  vertical-align: super;
}



h1.centered { text-align: center; }
h1.feature-heading {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: .05em;
}

article.static h1.feature-heading {
  font-family: $sans;
  font-size: calc-em(20px);
  font-weight: 600;
  letter-spacing: .07em;
  margin: .2em 0 1.5em 0em;
}

button.card-toggle {
  font-size: calc-em(25px);
  color: $link-color;
  padding: 0;
  border: 0;
  background: inherit;
  // margin-left: 95%;
  // margin: 0 0 .3em 95%;
}
button.card-toggle:hover {
  background: inherit;
}
button.card-toggle:active {
  color: $orange;
  border: 0;
}
button.card-toggle .glyphicon {
  font-size: calc-em(15px);
  vertical-align: -8%;
}

ul.card-info-actions-list {
  margin: 0 1em 1em 0;
  text-align: right;
}
ul.card-info-actions-list li {
  margin: 0;
  display: inline-block;
  text-align: right;
}
ul.card-info-actions-list li:not(:last-child) { margin-right: .5em; }
ul.card-info-actions-list li.learn-more {
  font-family: $serif;
  font-style: italic;
  font-size: calc-em(20px);
  text-decoration: none;
}
ul.card-info-actions-list li.learn-more a {
  text-decoration: none;
  border: 0;
  padding: .3em .4em .1em .4em;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
ul.card-info-actions-list li.learn-more a:after { content: " \02192"; }
ul.card-info-actions-list li.learn-more a:hover {
  background: lighten($bluewood, 60%);
  color: $orange;
}

li.learn-more i.glyphicon {
  font-size: .9em;
  vertical-align: -5%;
}

ul.data-provider-cards-list .hide-on-serp,
ul.data-providers-list .hide-on-dp { display: none; }


hr.offset-3 {
   // height: .3em;
   margin-top: 1em;
   margin-bottom: 1em;
   border-style: solid;
   border-color: #eee;
   border-width: 2px 0 0 0;
 }



h2.oa-development-period {
  text-align: center;
  font-family: $sans;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc-em(16px);
  line-height: calc-em(20px);
  color: $blue-2;
  margin: 0 0 1.5em 0;
}

ol.release-list { list-style-type: none; }
ol.release-list time { font-weight: 600; }
ol.release-details { margin: -.5em 0 1em 2em; }
ol.release-details li:not(:last-child) { margin-bottom: .5em; }

h1.chart-segment-heading {
  font-family: $headline;
  font-size: calc-em(23px);
  font-weight: 300;

  color: $blue-1;
  text-align: center;
  margin: .5em 0 1.5em 0;
}

// h1.chart-segment-heading i.ai-open-access { font-size: inherit; }

h1.chart-segment-heading i {
  font-size: .9em;
  vertical-align: text-top;
  color: $orange;
}


h1.facet-visualization-group {
  text-align: center;
  text-transform: uppercase;
  font-family: $serif;
  font-size: calc-em(21px);
  letter-spacing: .15em;
  font-weight: 600;
  color: $bluewood;
}

h3.facet-visualization-heading {
  text-align: center;
  // font-family: $headline;
  font-size: calc-em(17px);
  font-weight: 500;
  margin: 1em 0 2em 0;
}
h3.facet-visualization-heading--plot { margin: 1.5em 0 1.25em 0; }



// STATISTICS PAGE
h1.statistics-headline {
  font-family: $headline;
  text-transform: uppercase;
  text-align: center;
  font-size: calc-em(20px);
  letter-spacing: .09em;
  margin: .5em 0 1.5em 0;
}

nav.statistics-local {
  background: lighten($blue-3, 17%);
  text-align: center;
  padding: .5em 0 .7em 0;
  font-size: .95em;
  border-top: 1px solid $blue-3;
  border-bottom: 1px solid $blue-3;
}

p.jump {
  font-weight: 600;
  margin: 0 0 .25em 0;
}

ul.statistics-sections-list {
  margin: 0;
  padding: 0;
}
ul.statistics-sections-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
  @include respond-to($screen-sm-min) {
    margin-bottom: .3em;
  }
}
ul.statistics-sections-list li:not(:last-child) { margin-right: 1em; }

ul.statistics-sections-list li i {
  color: $blue-2;
  font-size: calc-em(19px);
}

a[name],
a[name]:hover { text-decoration: none; }

// CONTAIN
div.contain {
  overflow: hidden;
  // width: 20%;
  // margin: 0 auto;
}
div.contain > span.divider {
    color: #bf0000;
    display: table;
    margin: 2em auto;
    padding: 0 1em;
    position: relative;
    text-shadow: -0.03em 0.03em #aaa;
}
div.contain > span.divider:before { left: -9999%; }
div.contain > span.divider::after { right: -9999%; }
div.contain > span.divider:before,
div.contain > span.divider:after {
    background: #ccc;
    content: " ";
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 9999%;
}
div.contain-bottom > span.divider:before,
div.contain-bottom > span.divider:after { background: inherit; }
div.contain-bottom > span.divider { margin: 1em auto 0 auto; }

a.to-the-top {
  color: $blue-3;
  font-size: 1.5em;
}
a.to-the-top:hover { color: $blue-2; }
a.to-the-top:visited,
a.to-the-top:visited:hover { color: $blue-3; }
a.to-the-top:active { color: $orange; }



.profile-picture { padding-left: 2px !important;}

.profile-picture object {
  border: 1px solid #e3e3e3;
  max-height: 160px;
  max-width: 200px;
}



.affiliations ol {
  margin-bottom: 0;
  li {
    list-style-type: none;
    margin-bottom: 0.1em;
    .affiliation-dates { color: #666; }
  }

}

.more-link a {
  color: $link-color;
  &:hover {
    color: red;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
   }
}



// Overrides Bootstrap default:
ul.nav-tabs { border-bottom: 0; }


