@import "../base/all";

ul.text,
ol.text { @include respond-to($iphone_landscape) { margin-left: 1em; } }

nav.upper { font-size: .9em; }


em.number-of-items { color: #777; }

h1.facet-heading {
  font-size: 1em;
  line-height: 1.25em;
  background: #eff4ff;
  padding: .5em 1em;
  //text-transform: uppercase;
}

h1.facet-heading span.close { font-size: 1.4em; }



p.top-cta {
  margin-top: .5em;
  @include respond-to($screen-md-min) { float: none; }
}

a.btn-info:link,
a.btn-info:visited,
a.btn-info:hover,
a.btn-info:visited:hover { color: #fff; }
a.btn-info:active        { color: #eee; }

a.btn-danger:link,
a.btn-danger:hover,
a.btn-danger:visited:hover,
a.btn-danger:active { color: #fff; }


div.availability-panel a { color: $link-color; }

a.details-link:hover,
a.details-link:visited:hover { color: $orange; }
a.details-link:visited { color: $link-color-auxiliary; }

ul.institutions-list a:hover,
ul.institutions-list a:visited:hover { color: $orange; }




strong.ddf { font-weight: 600; }


ul.faq-list { margin: 1.5em 0 2em 0; }

span.p-intro {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .07em;
}

strong.name { font-weight: 600; }
address.adr { margin-left: 1em; }

h1.logo a:link,
h1.logo a:hover,
h1.logo a:visited,
h1.logo a:visited:hover,
h1.logo a:visited:active {
  text-decoration: none;
  color: #fff;
}

h1.site-section {
  font-family: $headline;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: calc-em(18px);
  font-weight: 500;
  //font-style: italic;
  margin: .1em 0 0 0;
  color: $blue-1;
  float: left;

  @include respond-to($iphone_landscape) {
    margin-bottom: .25em;
    float: none;
  }
}

h1.site-section .glyphicon {
  //font-size: .8em;
  color: rgba(0,0,0, .5);
  color: $blue-2;
  padding-right: .125em;
}

ul.subnav-items-list {
  margin: 0;
  font-family: $headline;
  font-weight: 500;
  //text-align: right;
  @include above-viewport($iphone_landscape) {
    float: right;
  }
}




a.select-document {
  font-size: calc-em(20px);
  vertical-align: -10%;
}

// disable the backlink for inactive Aarhus researchers (index and show pages)
.data-providers .rdb_au.person.inactive {
  a { pointer-events: none;  }
  i { display: none; }
}
/// just show page
.data-providers li.rdb_au.person.inactive {
  a:after {
    content: ' \00a0\00a0\00a0\00a0\00a0 Unavailable at provider';
    color: #777777;
  }
}



// ol.selected-documents__list { font-size: .9em; }
// ul.selected-documents__actions-list { margin: 1em 0; }
// ul.selected-documents__actions-list li { list-style-type: none; }
// ul.selected-documents__actions-list ul.export-options-list { margin: .25em 0 0 1.7em; }
// ul.selected-documents__actions-list ul.export-options-list li { margin-bottom: .25em; }

// ul.selected-documents__actions-list li a { border-bottom: 1px dashed #ccc; }
// ul.selected-documents__actions-list li a:hover {
//   background: #eee;
//   text-decoration: none;
//   border: 0;
// }
// ul.selected-documents__actions-list i.glyphicon-remove-circle { color: $action-red; }

// ol.selected-documents__list li { display: table; }
// ol.selected-documents__list li a {
//   display: table-cell;
//   padding-left: .25em;
//   position: relative;
//   top: 2px;
//   color: $link-color-auxiliary;
//   //font-size: calc-em(17px);
// }








// Overrides Bootstrap default:
ul.nav-tabs { border-bottom: 0; }


