<div class="header__wrapper">
  <div class="container container--searchbox">
    <div class="row">
      <div class="col-md-8">
        <% if current_exhibit && current_exhibit.searchable? %>
        <%= render_search_bar %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'spotlight/search_links' %>
      </div>
    </div>
  </div>
</div>
