div.sticky a {
  display: block;
  padding: 1em 2em;
  color: $blue-1;
}
div.sticky a:hover { color: $orange; }

body > footer div.sticky {
  position: absolute;
  top: -26px;
  right: 50px;
  background: $blue-3;
  border-radius: 3px;
}
