body > header {
  background: $bluewood;
  padding: 0;
  margin-bottom: 1.5em;
}
div.header__wrapper {
  background: $blue-4;
  padding: .5em 0;
}

div.upper-panel { margin-bottom: 1em; }

.container {
  @include respond-to($screen-md-min) {
    padding-left: 3em; // FIXME
  }
}

// LOCALE SWITCHER
ul.locales-list {
  float: right;
  margin-top: 5px;
  margin-bottom: 0;
  @include respond-to($screen-md-min) {
    margin-bottom: -1em;
  }
}
ul.locales-list li {
  font-style: normal;
  margin-bottom: 0;
}
ul.locales-list li.locale:not(:last-child):after {
  content: "|";
  color: #eee;
}
ul.locales-list li a {
  // background: #eee;
  font-family: $headline;
  padding: .3em .1em;
  text-decoration: none;
  font-size: .85em;
  letter-spacing: .05em;
  font-weight: 500;
}
ul.locales-list li.current a { color: #fff; }

// MAIN NAV
ul.site-sections-list, ul.open-access-menu {
  float: right;
  margin: 0;
  @include respond-to($iphone_landscape) {
    float: none;
    text-align: center;
  }
}

ul.site-sections-list li, ul.open-access-menu li {
  display: inline-block;
  margin: 0;
}
ul.site-sections-list li:not(:last-child) {
  @include respond-to($iphone_landscape) {
    margin-right: .5em;
  }
}
ul.site-sections-list li:hover { background: lighten($bluewood, 15%); }
ul.site-sections-list li a {
  display: block;
  height: 100%;
  padding: .7em;
  font-family: $headline;
  line-height: 1.25em;
  color: $blue-3;
  text-decoration: none;
  @include respond-to($iphone_landscape) {
    padding: 1em;
  }
}
ul.site-sections-list li:hover a {
  color: #fff;
  text-decoration: none;
}
ul.open-access-menu li a {
  padding-top: 0.5em;
  color: $blue-1;
  font-weight: 550;
}
ul.open-access-menu { margin-top: 23px; }
ul.open-access-menu li:hover a {
  text-decoration: none;
  color: $blue-2;
}
ul.open-access-menu li:not(:last-child) { margin-right: 1.5em; }
ul.site-sections-list li i {
  font-size: calc-em(21px);
  display: block;
  margin-bottom: .3em;
  text-align: center;
  text-shadow: 1px 1px 2px #222;
  @include respond-to($iphone_landscape) {
    font-size: calc-em(25px);
    margin-bottom: 0;
  }
}
div.menu-item {
  text-shadow: 1px 1px 2px #222;
  @include respond-to($iphone_landscape) {
    display: none;
  }
}
div.menu-item span {
  display: block;
  text-align: center;
}
div.menu-item span.menu-item__title {
  text-transform: uppercase;
  letter-spacing: .07em;
}
div.menu-item span.menu-item__subtitle {}

// MIAN LOGO
h1.logo {
  display: inline-block;
  font-family: $headline;
  font-size: calc-em(22px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1em;
  letter-spacing: .125em;
  color: $bluewood;
  color: #fff;
  margin: 1.4em 0 0 0;
  @include respond-to($screen-md-min) {
    // margin: 1em 0 -2em 0;
  }
}

h1.logo em {
  font-size: calc-em(20px);
  display: block;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  font-family: $serif;
  color: lighten($orange, 15%);
}

.container--searchbox {
  @include respond-to($screen-md-min) { width: 90%; }
}

// MAIN SEARCH FORM
ul.nav-tabs a { font-size: calc-em(16px); }

form.search-query-form {
  padding-left: 0;
  @include respond-to($screen-md-min) { padding-top: 0; }
}

form.search-query-form div.input-group {
  width: 80%;
  @include respond-to($screen-md-min) { width: 100%; }
}

// MAIN SEARCH OPTIONS
div.search-options-container {
  padding-top: 2.6em;
  @include respond-to($screen-md-min) { padding: .3em 0 0 0; }
}
ul.search-extras-list {
  @include respond-to($screen-md-min) {
    float: none;
    text-align: center;
  }
}
ul.search-extras-list li { display: inline-block; }
ul.search-extras-list li:not(:last-child) { margin-right: 1em; }
