//
//VIEWPORT DIMENSIONS
//

//px
$desktop:          1024px; //and above

$ipad_landscape:   1024px;
$ipad_portrait:    768px;

$iphone_landscape: 480px;
$iphone_portrait:  320px;

//em
$desktop_ems:          64em; //and above

$ipad_landscape_ems:   64em;
$ipad_portrait_ems:    48em;

$iphone_landscape_ems: 30em;
$iphone_portrait_ems:  20em;


//BOOTSTRAP
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
//END BOOTSTRAP


@mixin respond-to($viewport) {
  @media only screen and (max-width: $viewport) { @content }
}

//alias for respond-to
@mixin below-viewport($viewport) {
  @media only screen and (max-width: $viewport) { @content }
}

@mixin above-viewport($viewport) {
  @media only screen and (min-width: $viewport) { @content }
}

@mixin in-viewport-range($viewport1, $viewport2) {
  @media only screen and (min-width: $viewport1) and (max-width: $viewport2) { @content }
}
