<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <div class="col-30">
        <h1 class="site-section">
          <i class="glyphicon glyphicon-info-sign"></i>
          About
        </h1>
      </div>

      <div class="col-70">
        <ul class="subnav-items-list">
          <li id="data-formats"><a href="/about/data-formats">Data formats</a></li>
          <li id="data-providers"><a href="/about/data-providers">Data providers</a></li>
          <li id="contact"><a href="/about/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

