<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <h1 class="site-section">
      <i class="glyphicon glyphicon-info-sign"></i>
        About
      </h1>

      <ul class="subnav-items-list">
        <li id="search-get">
          <a href="/about/search-and-get">Search <span class="amp">&amp;</span> Get</a>
        </li>
        <li id="data">
          <a href="/about/data">Data</a>
        </li>
        <li id="faq">
          <a href="/about/faq">FAQ</a>
        </li>
        <li id="contact">
          <a href="/about/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

