  <div role="contentinfo">
   <div class="container">
     <div class="row separator">
       <div class="col-md-4">
         <p class="copyright">
           <em>Copyright &copy;</em>
           <!-- <strong class="ddf">Denmark's Electronic Research Library</strong> -->
           <strong class="ddf">1998&ndash;2015.</strong>
           <figure id="deff">
            <%= image_tag("footer/deff_da.png") %>
           </figure>
         </p>
       </div>

       <div class="col-md-8">
         <p>I samarbejde med:</p>
         <ul class="collaborator-logos-list row">
           <li><%= image_tag("footer/fivu_da.png") %></li>
           <li><%= image_tag("footer/uvm_da.png") %></li>
           <li><%= image_tag("footer/kum_da.png") %></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
