<footer>
  <div class="container">
    <h1 class="footer-heading">
      <i class="fa fa-sitemap"></i>
      Sitemap
    </h1>
    <ul class="sitemap">
      <li class="sitemap__section">
        <a href="">Search</a>
        <ul>
          <li><a href="">Tutorial</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </li>
      <li class="sitemap__section">
        <a href="">About</a>
        <ul>
          <li><a href="">Data formats</a></li>
          <li><a href="">Data providers</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div role="contentinfo">

   <div class="container">
     <p class="copyright">
       <em>Copyright &copy;</em>
       <!-- <strong class="ddf">Denmark's Electronic Research Library</strong> -->
       <strong class="ddf">1998&ndash;2015.</strong>
       In cooperation with:
       <ul class="stakeholder-logos-list row">
         <li><%= image_tag("footer/deff_en.png") %></li>
         <li><%= image_tag("footer/fivu_en.png") %></li>
         <li><%= image_tag("footer/uvm_en.png") %></li>
         <li><%= image_tag("footer/kum_en.png") %></li>
       </ul>
     </p>
   </div>

 </div>
</footer>
