<footer>
  <div class="container">
   <p>
     Copyright &copy; 1998-2015 Denmark's Electronic Research Library — Danish Agency for Libraries and Media
     in cooperation with the Ministry of Culture, Ministry of Science, Technology and Innovation and Ministry of Education.
   </p>
  </div>
</footer>
