<button class="goto-section goto-section-statistics">
  <a href="<%= search_statistics_path %>">
    <i class='fa fa-bar-chart'></i>
    <%= t("blacklight.data_visualization.publication_statistics") %>
  </a>
</button>
