  <header>
    <div class="container">
      <nav role="main" class="row">
        <ul class="horizontal pull-left snap-to-grid">
          <li class="home"><a href="/"><i class="fa fa-home"></i></a></li>
        </ul>
        <ul class="locales-list horizontal pull-right snap-to-grid">
          <li><a href="">History</a></li> |
          <li><a href="">Danish</a></li>
        </ul>
      </nav>
    </div>

    <div class="container logo-container">
      <div class="row">
        <div class="col-md-10">
         <h1 class="logo logo-main">
          <em>Danish National</em>
          Research Database
        </h1>
        <%# render_search_bar %>
      </div>
    </div>
  </div>
</header>


