  <header>
    <div class="wrapper">
      <nav role="main" class="block">
        <ul class="horizontal align-left">
          <li class="home"><a href="/"><i class="fa fa-home"></i></a></li>
        </ul>
        <ul class="menu-items-list horizontal align-right">
          <li><a href="">History</a></li> |
          <li><a href="">Danish</a></li>
        </ul>
      </nav>
    </div>

    <div class="wrapper block">
      <h1 class="logo logo-main">
        <em>Danish National</em>
        Research Database
      </h1>
      <div class="block">

        <%= render 'search_form' %>

<!--
        <form action="/" class="search">
          <fieldset>
            <input type="search" placeholder="Search publications, authors, or topics" />
            <button type="submit" value="Go"><i class="fa fa-search"></i></button>
          </fieldset>
        </form>
      -->

    </div>
  </header>
