<div class="header__wrapper">
  <div class="container">
    <div class="block">
      <h1 class="site-section">
        <i class="ai ai-open-access ai-3x"></i>
        <%= t('blacklight.navigation.open_access_section.open_access') %>
      </h1>

      <ul class="subnav-items-list">
        <li id="oa-overview">
          <%= link_to t('ddf.open_access.menu.overview'), open_access_overview_path %>
        </li>
        <li id="oa-development">
          <%= link_to t('ddf.open_access.menu.development'), open_access_development_path %>
        </li>
      </ul>
    </div>
  </div>
</div>


