<div class="header__wrapper">
  <div class="container container--searchbox">
    <div class="row">
      <div class="col-md-8">
        <%= render_search_bar %>
      </div>
      <div class="col-md-4 search-options-container">
        <%= render partial: '/user_search_links' %>
      </div>
    </div>
  </div>
</div>
