<div class="header__wrapper">
  <div class="container container--searchbox">
    <div class="row">
      <div class="col-md-8">
        <%= render_search_bar %>
      </div>

      <div class="col-md-4 search-options-container">
        <% if within_spotlight? %>
          <%= render partial: 'spotlight/search_links' %>
        <% else %>
        <%= render :partial=>'/user_search_links' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
