<article class="static">
  <div class="measure">
    <h1>About</h1>

    <p><span class="p-intro">The Danish National Research Database</span> is a single entry point for Danish research, Danish researchers and Danish research institutions.</p>

    <p>It aims to allow easy access to searching research publications from Danish research institutions (see “Searching and obtaining database records” below).</p>

    <p>The database is primarily based on data collected from the Current Research Information Systems (CRIS) of Danish universities and other Danish research institutions. All Danish institutions of higher education, government research institutes, research councils and other public institutions carrying out research can become data providers. All data providers are participating on a voluntary basis. For more, see the <a href="/about/data-providers">Data Providers page</a>.</p>

    <p>The database currently covers published literature, such as journal articles, PhD. theses, conference presentations and lecture notes.</p>

    <h2>Organisation</h2>
    <p>The Database is operated by <a href="http://www.deff.dk/">DEFF</a> (Denmark's Electronic Research Library) in cooperation with <a href="http://kum.dk/servicemenu/english/">The Ministry of Culture</a>, <a href="http://ufm.dk/en">The Ministry of Higher Education and Science</a> and <a href="http://eng.uvm.dk/">The Ministry of Education</a>. The technical operator is <a href="http://www.bibliotek.dtu.dk/english">DTU Library</a>.</p>

    <h2>Technical</h2>
    <p><strong>Foundation:</strong> The necessary metadata are made available for the database by the data providers from their openly accessible repositories (typically the providers CRIS) offering <a href="http://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH</a>-based access to data in various open and well-documented data formats (for publication metadata, primarily DDF-MXD). See more under <a href="/about/data-formats">Data Formats</a>.</p>

    <p><strong>Processing:</strong> Metadata are harvested, processed, deduplicated and indexed by the DTU Library Data Processing Platform into the DTU Library common <a href="https://lucene.apache.org/">Apache Lucene</a>-based index, equipped with <a href="http://lucene.apache.org/solr/">Apache SOLR</a> as search platform.</p>

    <p><strong>Exposing:</strong> For the discovery layer, a dedicated SOLR request handler allows this <a href="http://projectblacklight.org/">Blacklight</a>-based user interface to search the relevant data.</p>

    <h2>Searching and obtaining database records</h2>
    <p>Searching the database is explained in <a href="/search/tutorial">this tutorial</a>.</p>

    <p>For publications found in the database, backlinks to the research institutions CRIS systems are offered.</p>

    <p>Thus, access to the fulltexts of publications found in the database is handled by the user interfaces of the CRIS systems in which the publications were originally registered.  They may offer different and differentiated access options – based on user role, affiliation, existence of deposited Open Access versions, etc.</p>

    <p>This database does not hold any digital copies of any of the publications and has no service w.r.t. ordering of material.  For that, please refer to the data providers CRIS, a library and/or the publishers of the publications.</p>
  </div>
</article>

