<article class="static">
  <div class="measure">
    <h1>About</h1>

    <p><span class="p-intro">The Danish National Research Database</span> is a single entry point for Danish research, Danish researchers and Danish research institutions.</p>

    <p>It allows easy access to searching research publications from Danish research institutions (see also <%= link_to 'Search &amp; Get'.html_safe, about_search_and_get_path %>).</p>

    <p>The database is primarily based on data collected from the Current Research Information Systems (CRIS) of Danish universities and other Danish research institutions. All Danish institutions of higher education, government research institutes, research councils and other public institutions carrying out research can become data providers. All data providers are participating on a voluntary basis. For more information, see the <%= link_to 'Data page', about_data_path %>.</p>

    <p>The database currently covers published literature, such as journal articles, PhD theses, conference presentations and lecture notes.</p>

    <h2>Organization</h2>
    <p>The Database is operated by <a href="http://www.deff.dk/" target="_blank">DEFF</a> (Denmark's Electronic Research Library) in cooperation with <a href="http://kum.dk/servicemenu/english/" target="_blank">The Ministry of Culture</a>, <a href="http://ufm.dk/en" target="_blank">The Ministry of Higher Education and Science</a> and <a href="http://eng.uvm.dk/" target="_blank">The Ministry of Education</a>. The technical operator is <a href="http://www.bibliotek.dtu.dk/english" target="_blank">DTU Library</a>. The overall development of the database is overseen by the Advisory Board.</p>

    <h3>Members of the Advisory Board</h3>
    <ul>
      <li>Chariman: Head of Bibliometrics and Data Management Mogens Sandfær, Technical University of Denmark</li>

      <li>Two representatives of Universities Denmark (Senior Development Engineer Lene Offersgaard, Center for language Technology, University of Copenhagen) and Clinical Associate Professor Reimar W. Thomsen (Department of Clinical Medicine, Department of Clinical Epidemiology, Aarhus University)</li>

      <li>One representative of University Colleges Denmark (Head of Library Services and a Digitalization unit Peter Flodin, Metropolitan University College, Copenhagen)</li>

      <li>One representative of governmental research</li>

      <li>One representative of the primary data providers (PURE Steering Committee – Senior Consultant Nils Thidemann, Aalborg University)</li>

      <li>One representative of Danish councils (Danish Council for Independent Research (DFF) Professor Jan Philip Solovej, Institute for Mathematical Sciences, University of Copenhagen)</li>

      <li>One representative of “Nationalt Forum for Forskningsdata Management” (Professor Henrik Pedersen, Faculty of Science, University of Southern Denmark)</li>

      <li>One representative of DEFF-secretariat (Chief consultant at Danish Agency for Culture Bo Öhrström)</li>

      <li>One representative for Ministry of Higher Education and Science (Head of Department Jonny K. Mogensen, Research and Innovation, Ministry of Higher Education and Science).</li>
    </ul>

    <h3>Secretariat</h3>
    <ul>
      <li>Project Manager Lise Mikkelsen, Technical University of Denmark</li>
      <li>Senior Project Officer Mikael Elbæk, Technical University of Denmark</li>
      <li>Head of Section at Danish Agency for Science, Technology and Innovation Karen Skytte-Larsen</li>
      <li>Special Adviser Hanne-Louise Kirkegaard, Research and Innovation, Ministry of Higher Education and Science.</li>
    </ul>

    <h2>Technical issues</h2>
    <p><strong>Foundation:</strong> The necessary metadata are made available for the database by the data providers from their openly accessible repositories (typically the providers' CRIS) offering <a href="http://www.openarchives.org/OAI/openarchivesprotocol.html" target="_blank">OAI-PMH</a>-based access to data in various open and well-documented data formats (for publication metadata, primarily DDF-MXD). See more at the <%= link_to 'Data page', about_data_path %>.</p>

    <p><strong>Processing:</strong> Metadata are harvested, processed, deduplicated and indexed by the DTU Library Data Processing Platform into the DTU Library common <a href="https://lucene.apache.org/" target="_blank">Apache Lucene</a>-based index, equipped with <a href="http://lucene.apache.org/solr/" target="_blank">Apache SOLR</a> as search platform.</p>

    <p><strong>Exposing:</strong> For the discovery layer, a dedicated SOLR request handler allows this <a href="http://projectblacklight.org/" target="_blank">Blacklight</a>-based user interface to search the relevant data.</p>
  </div>
</article>

