<article class="static">

  <div class="measure">
    <h1>Kontakt</h1>

    <p>Inden I kontakter os for at blive dataleverandør, bedes I overveje følgende:</p>

    <p>Data i Den Danske Forskningsdatabase er baseret på høst af metadata-poster direkte fra forskningsinstitutionerne.</p>

    <p>Det betyder:</p>

    <ul>
      <li>
        Databasen indeholder ingen fuldtekster. Der tilbydes ingen service vedrørende bestilling af materiale. For at kunne modtage de fremfundne publikationer skal linket til institutionens CRIS-system følges. Leverandøren af den originale post tilbyder muligvis levering af fuldteksten, ellers kontakt et bibliotek (folke- eller forskningsbibliotek), eller udgiveren kan muligvis hjælpe.
      </li>
      <li>
        Hvis du har rettelser til publikationsdata fundet i denne base, bedes du kontakte den pågældende forskningsinstitution. Rettelser til data skal foretages i institutionens CRIS-system. Se <%= link_to("Data", about_data_path) %> for yderligere information.
      </li>
    </ul>

    <!-- TODO: validate -->
    <section class="vcard">
    <p><strong>Electronisk kontakt:</strong></p>

      <address class="adr">
        Email: <a href="mailto:info@forskningsdatabasen.dk">info@forskningsdatabasen.dk</a>
      </address>

      <p><strong>Personlig kontakt:</strong></p>

      <address class="adr">
        <span class="organization-unit">
          <strong class="name">Den Danske Forskningsdatabase</strong><br />
          Projekt-kontoret
        </span>
        <br />
        <span class="organization-name">c/o DTU Bibliotek</span>
        <br />
        <span class="street-address">
          Anker Engelunds Vej 1,<br />
          Bygn. 101 D,
        </span>
        <br />
        <span class="postal-code">2800</span>
        <span class="locality">Kgs. Lyngby</span><br />
      </address>
    </section>

  </div>
</article>

