<article class="static">

  <div class="measure">
    <h1>Contact</h1>

    <p>Before making contact, please note the following:</p>

    <p>Data in The Danish National Research Database is based on a harvest of metadata records directly from the suppliers.</p>

    <p>Therefore, the database does not hold actual material. No assistance with regard to ordering of material is offered. In order to get hold of any publication found in this database, follow back links to the originating CRIS — it may offer access options. Otherwise, a library (public or research) or the publisher may help.</p>

    <p>If you have corrections to any of the publication data found in this database, contact the research institution. Any data changes should be done in the CRIS systems of the research institutions. See the <%= link_to("Data Section", search_data_path) %> for more information.</p>

    <!-- TODO: validate -->
    <section class="vcard">
      <p><strong>For electronic contact:</strong></p>

      <address class="adr">
        Email: <a href="mailto:info@forskningsdatabasen.dk">info@forskningsdatabasen.dk</a>
      </address>

      <p><strong>For contact by letter:</strong></p>

      <address class="adr">
        <span class="organization-unit">
          <strong class="name">The Danish National Research Database</strong><br />
          Project Management
        </span>
        <br />
        <span class="organization-name">c/o DTU Library</span>
        <br />
        <span class="street-address">
          Anker Engelunds Vej 1,<br />
          Building 101 D
        </span>
        <br />
        <span class="postal-code">2800</span>
        <span class="locality">Kgs. Lyngby</span><br />
      </address>
    </section>

  </div>
</article>

