<article class="static">
  <div class="measure">
    <h1>Cookie- og privatlivspolitik</h1>
    <p>
      Vi vil gerne tilbyde vores brugere af Den Danske Forskningsdatabase (DDF)
      en overskuelig og brugervenlig forskningsdatabase. Vi benytter os af
      cookies for at få en idé om, hvordan databasen anvendes af brugerne,
      samt give brugerne ekstra funktionalitet.
    </p>
    <p>
      Cookies giver os vigtige informationer om, hvordan og hvornår databasen
      bliver brugt, hvilke sider der bliver anvendt mest, hvor længe vores
      brugere bliver på siderne osv. De gøre også at vi kan gemme på brugernes
      valgt poster og søgehistorik mens du bruger siden.
    </p>
    <h2>Hvad er en cookie?</h2>
    <p>
      En cookie er en lille tekstfil, der lagres i din browser, for at kunne
      genkende din computer ved tilbagevendende besøg. Cookies er ikke aktive
      filer; de kan altså ikke udvikle virus eller spore indhold på din computer.
      Det eneste, de gør, er at sende <strong>anonyme</strong> oplysninger tilbage til os om besøgstidspunkt,
      -varighed osv.
    </p>
    <h2>I DDF anvender vi cookies til følgende formål:</h2>
    <dl>
      <dt>Statistik (Google Analytics):</dt>
      <dd>
        Vi fører statistik over brugen af databasen, sådan at vi bedst muligt kan tilpasse den brugernes behov. Vi indsamler blandt andet oplysninger om antal besøg, gennemsnitlig besøgsvarighed, antal nye brugere og antal af brugere, der vender tilbage til DDF, hvilke browsere der anvendes, fra hvilke lande brugerne kommer, hvornår databasen belastes mest mm. Til dette formål anvender vi Google Analytics.
      </dd>
      <dt>Funktionerne ’Udvalgte poster’ og 'Historik':</dt>
      <dd>
        For at kunne håndtere udvalgte poster i funktionen ’Udvalgte’, samt give brugeren et overblik over deres søgninger I funktionen 'Historik' anvender vi en gæste cookie. Oplysningerne forsvinder, når browseren lukkes.
      </dd>
    </dl>
    <h2>Hvis du ikke vil tillade cookies</h2>
    <p>
      Hvis du ikke vil tillade brugen af cookies på din computer, kan du ændre i indstillingerne i din browser, så den husker det fremover. Du kan også slette cookies, der allerede er lagret. 
    </p>
    <p>
      For mere information om cookies, se evt.: <a href="http://aboutcookies.org">aboutcookies.org</a>.
    </p>
    <h2>Brug af personoplysninger</h2>
    <p>
      Vi indsamler ikke personoplysninger.
    </p>
  </div>
</article>
