<article class="static">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="provider-logo">
          <%= image_tag("data-providers/aalborg-university.#{I18n.locale}.png") %>
        </figure>
      </div>
      <div class="col-md-6">
       <dl class="provider-details-list">
         <dt>Name</dt>
         <dd>Aalborg University</dd>

         <dt>Acronym</dt>
         <dd>AAU</dd>

         <dt>Web</dt>
         <dd><a href="http://www.en.aau.dk/">http://www.en.aau.dk/</a></dd>

         <dt>Established</dt>
         <dd>1974</dd>

         <dt>Location</dt>
         <dd>Aalborg, Esbjerg, Copenhagen</dd>

         <dt>CRIS</dt>
         <dd><a href="http://vbn.aau.dk/en/">http://vbn.aau.dk/en/</a></dd>

         <dt>OAI repository URL</dt>
         <dd><a href="http://vbn.aau.dk/ws/oai">http://vbn.aau.dk/ws/oai</a></dd>
       </dl>
     </div>
   </div>
 </div>


 <div class="measure">
  <h1>Data providers</h1>
  <ul class="data-providers-list">
    <li>Aalborg University</li>
    <li>Århus University</li>
    <li>Copenhagen Business School</li>
    <li>Technical University of Denmark</li>
    <li>Royal Danish Defence College</li>
    <li>IT University of Copenhagen</li>
    <li>dte Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation</li>
    <li>University of Copenhagen</li>
    <li>Ministry of Culture</li>
    <li>Capital Region of Denmark</li>
    <li>Roskilde University</li>
    <li>University of Soudtern Denmark</li>
  </ul>
</div>
</article>

