<div class="container page-leadin">
  <div class="row">
    <div class="col-md-9">
      <h1 class="page-heading">Data providers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi optio, inventore facere repellendus deserunt veniam tenetur aliquid, beatae voluptas iste voluptate ex totam nam quidem animi voluptatum sapiente, fugit rem!</p>
    </div>
    <div class="col-md-3">
      <p class="top-cta"><a href="" class="btn">Become a data provider</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 multicol-2 multicol-1">
      <ul class="data-providers-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius exercitationem ratione assumenda culpa repellendus molestias id cum architecto libero a eum, officia, vitae veniam provident maiores deleniti, numquam nam quibusdam.</li>
        <li>Adipisci, provident, tenetur quibusdam laudantium cumque ratione obcaecati, quisquam in porro, corporis maxime dicta velit! Ea, illum. Possimus in minus veniam sint, blanditiis sapiente incidunt sunt necessitatibus. Quas, laboriosam, repellendus!</li>
        <li>Laudantium saepe eos asperiores reprehenderit soluta quo in nemo est omnis repudiandae aperiam, repellat reiciendis dicta obcaecati aliquid commodi ducimus, aspernatur! Dolores voluptate temporibus est. Sequi assumenda veritatis quidem voluptatem!</li>
        <li>Quisquam porro laudantium voluptas molestias doloremque maxime minus, itaque, deleniti ab possimus, ipsa magni enim impedit dolores consequuntur. Blanditiis maxime quo, a, nemo vitae odit. Ullam eaque praesentium iure perspiciatis!</li>
        <li>Fuga magni saepe magnam adipisci! Recusandae obcaecati perferendis ducimus, voluptate ut saepe, sint tempore vel suscipit libero dolor a nemo aliquid? Vero culpa recusandae natus officia est architecto consequatur facilis.</li>
        <li>Maxime libero corporis perspiciatis incidunt nostrum ut neque eius cupiditate odio eaque excepturi vero fugit quae, iusto quo ab aliquam fuga at molestias quis, saepe iure ratione. Necessitatibus, blanditiis, eaque.</li>
        <li>Eveniet laudantium molestiae sequi dolorem deleniti iusto, ad quasi perspiciatis id. Quisquam vero porro magni modi sequi laborum, voluptatem quae labore aliquid asperiores. Corporis perspiciatis accusantium provident! Corrupti, error, deleniti.</li>
        <li>Enim earum, dolore iusto cupiditate molestias obcaecati quidem explicabo magni. Quo, qui numquam doloremque, sunt cum nobis explicabo consequuntur nostrum reprehenderit ducimus aliquid ad in omnis odio unde voluptates, voluptatum.</li>
        <li>Minima corporis atque quam culpa cupiditate laudantium dicta sunt vel, aliquid voluptatibus ut placeat nobis adipisci impedit incidunt vitae officiis debitis natus modi id ad. Ipsa earum recusandae impedit sapiente.</li>
        <li>Optio minima, placeat qui accusamus excepturi quidem impedit praesentium, laudantium magni maiores? Maiores similique dolore officia earum, saepe porro laboriosam ducimus assumenda ipsam incidunt sunt odio, commodi, quod eaque quis!</li>
        <li>Reprehenderit corporis iste fugiat ut voluptates deserunt modi repudiandae, in totam, dolorem dignissimos ipsa ratione accusantium officia tempora temporibus ad iure aliquid fugit veritatis neque error, et adipisci ex. Veniam!</li>
        <li>Illum perspiciatis omnis mollitia, nesciunt dolores vel. Amet molestias natus mollitia minus totam laborum ipsum non sapiente aliquid maxime aperiam, accusantium, sequi veritatis voluptatibus ducimus! Dolorem deserunt doloribus dolore vel.</li>
      </ul>
    </div>
  </div>
</div>
