<article class="static">
  <div class="measure">

    <h1>Data</h1>

    <p>De indekserede data, der tilbydes til søgning i databasen, er publikations metadata registreret i danske forskningsinstitutioners CRIS systemer (Current Research Information Systems).</p>

    <p>For at blive dataleverandør til Den Danske Forskningsdatabase skal den lokale database understøtte</p>

    <ul>
      <li>Open Archives-protokollen, <a href="http://www.openarchives.org/OAI/openarchivesprotocol.html" target="_blank">OAI-PMH</a>;</li>
      <li>Det nationale udvekslingsformat <a href=" http://mx.forskningsdatabasen.dk/mxd/current/" target="_blank">DDF-MXD</a>.</li>
    </ul>

    <p>Alle data høstes, behandles og indekseres fuldautomatisk uden nogen form for menneskelig interaktion.</p>

    <p>Kvaliteten og ensartetheden af de metadata der vises i denne database hviler på kvaliteten og ensartetheden af de metadata, der udstilles af de enkelte CRIS systemer.</p>

    <h2>Nationale udvekslingsformater</h2>

    <p>Udviklingen af de nationale danske metadata formater styres af ’Styregruppen for nationale udvekslingsformater for forskningsdatabaser’. De nuværende medlemmer er:</p>

    <ul>
      <li><strong class="name">Bo Öhrström</strong>, Kulturministeriet, Kulturstyrelsen. Formand, repræsenterende Danmarks Elektroniske Fag- og Forskningsbibliotek, (DEFF)</li>
      <li><strong class="name">Adrian Price</strong>, Københavns Universitet. Medlem,  repræsenterende forskningsinstitutionerne.</li>
      <li><strong class="name">Lotte Faurbæk</strong>, Uddannelses- og Forskningsministeriet, Styrelsen for Forskning og Innovation. Medlem, repræsenterende Kontoret for Forsknings- og Innovationsanalyse – Den bibliometriske forskningsindikator (BFI)</li>
      <li><strong class="name">Hanne-Louise Kirkegaard</strong>, Uddannelses- og Forskningsministeriet, Styrelsen for Forskning og Innovation. Medlem, repræsenterende Kontoret for Forsknings- og Innovationsanalyse - Open Access Indikator, (OA-I)</li>
      <li><strong class="name">Lise Ingemann Mikkelsen</strong>, DTU Bibliotek, Danmarks Tekniske Universitet. Sekretær for styregruppen.</li>
    </ul>

    <h2>Forskningsinstitutionerne</h2>
    <p>For en fuld beskrivelse af dataleverandørene inklusive deres CRIS data, se venligst siden over <a href="/about/research-institutions">Forskningsinstitutioner</a>.</p>
  </div>
</article>
