<article class="static">
  <div class="measure">

    <h1>Data</h1>

    <p>The data indexed for publication search are publication metadata registered in the Current Research Information Systems (CRIS) of the data providers (Danish research institutions).</p>

    <p>Any research institution must make publication data available:</p>

    <ul>
      <li>Through an openly available interface (<a href="http://www.openarchives.org/OAI/openarchivesprotocol.html" target="_blank">OAI-PMH</a>-based);</li>
      <li>in the national <a href=" http://mx.forskningsdatabasen.dk/mxd/current/" target="_blank">DDF-MXD</a> metadata format.</li>
    </ul>

    <p>All data are acquired, processed and indexed in a fully automated process — no human intervention is applied.   The consistency, integrity and quality of the metadata exposed in this database rest on the consistency, integrity and quality of the data exposed by the CRIS systems.</p>

    <h2>National Exchange Formats</h2>

    <p>The development of the national Danish metadata formats are overseen by the Steering Committee.  Current members are:</p>

    <ul>
      <li><strong class="name">Bo Öhrström</strong>, Ministry of Culture, Danish Agency for Culture. Chairman, representing Denmark's Electronic Research Library, (DEFF).</li>
      <li><strong class="name">Adrian Price</strong>, University of Copenhagen. Member,  representing the research institutions.</li>
      <li><strong class="name">Lotte Faurbæk</strong>, Ministry of Higher Education and Science, Danish Agency for Science, Technology and Innovation. Member, representing Danish Agency for Science, Technology and Innovation — The Danish Bibliometric Research Indicator, (BFI).</li>
      <li><strong class="name">Hanne-Louise Kirkegaard</strong>, Ministry of Higher Education and Science, Danish Agency for Science, Technology and Innovation. Member, representing Danish Agency for Science, Technology and Innovation - The Open Access Indicator, (OA-I).</li>
      <li><strong>Lise Ingemann Mikkelsen</strong>, DTU Library, Technical University of Denmark. Secretary for the Steering Committee</li>
    </ul>

    <h2>Research institutions</h2>
    <p>For a full description of the research institutions, including CRIS data, visit the <%= link_to("Institutions", about_research_institutions_path) %> page.</p>
  </div>
</article>
