<article class="static">
  <div class="measure">

    <h1>Data providers</h1>
    <ul class="data-providers-list">
      <li>Aalborg University</li>
      <li>Århus University</li>
      <li>Copenhagen Business School</li>
      <li>Technical University of Denmark</li>
      <li>Royal Danish Defence College</li>
      <li>IT University of Copenhagen</li>
      <li>The Royal Danish Academy of Fine Arts, Schools of Architecture, Design and Conservation</li>
      <li>University of Copenhagen</li>
      <li>Ministry of Culture</li>
      <li>Capital Region of Denmark</li>
      <li>Roskilde University</li>
      <li>University of Southern Denmark</li>
    </ul>

  </div>
</article>
