<article class="static">
  <div class="measure">
    <h1>Om EliteForsk prisen</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut nunc elit. Praesent efficitur felis id facilisis ornare. Morbi pretium metus in neque sodales scelerisque. In cursus, orci a tincidunt tempor, justo justo fermentum sem, quis tempor sem libero sed massa. Curabitur id dolor sed metus mattis mattis. Nam semper quam nibh, a pellentesque risus interdum ut. Duis rutrum volutpat velit eu pellentesque. Integer porta libero eget metus vehicula, sit amet porta sem viverra. Morbi viverra lectus non hendrerit dictum. Nullam sagittis aliquam interdum. In ut sem egestas, viverra eros vel, aliquet eros. Maecenas quis sem dolor. Phasellus sodales porta augue, ut aliquam enim vulputate id. Vivamus volutpat, odio at lobortis pellentesque, nisi nisi ultricies sapien, sed faucibus mauris nulla nec justo. In ac porttitor dolor, vel fringilla sapien. Vestibulum fermentum tellus et nisl interdum, dapibus congue est sagittis.
    </p>
    <p>
      Proin fermentum nec diam eu suscipit. Donec ac erat aliquam, pellentesque purus in, sagittis dolor. Maecenas consectetur velit et enim euismod ultrices. Duis consectetur sed turpis ac facilisis. Integer sed neque at justo vehicula placerat. Sed congue commodo vestibulum. Donec lectus nisl, ultrices non bibendum sit amet, interdum ac mi. Donec quis varius mauris. Vivamus ut volutpat mauris, quis sollicitudin nibh. Nam vel semper lorem. Pellentesque commodo imperdiet erat ut condimentum. Nulla pharetra arcu nec justo tempor volutpat.
    </p>
  </div>
</article>