<article class="static">

  <div class="measure">
    <h1>FAQ</h1>

    <ul class="faq-list">
      <li><a href="#faq-1">Hvordan får jeg fat i fuldteksterne til de referencer, jeg har fundet?</a></li>
      <li><a href="#faq-2">Hvorfor finder jeg ikke alt det, jeg forventer at finde?</a></li>
      <li><a href="#faq-3">Hvordan gemmer jeg fundne referencer?</a></li>
      <li><a href="#faq-4">Jeg har fundet en fejl i en post, hvordan får jeg rettet fejlen?</a></li>
      <li><a href="#faq-5">Hvorfor vises siden ikke, som jeg forventer, når jeg anvender Internet Explorer?</a></li>
      <li><a href="#faq-6">Hvordan får jeg RSS feeds fra Den Danske Forskningsdatabase?</a></li>
    </ul>

    <h2><a name="faq-1">Hvordan får jeg fat i fuldteksterne til de referencer, jeg har fundet?</a></h2>
    <p>Hvis der ikke er link til en fuldtekst i den reference, du har fundet hos forskningsinstitutionen, så kan du gå til dit nærmeste folke- eller forskningsbibliotek, som kan hjælpe dig med at skaffe publikationen. Som en hjælp til genfindingen kan du udskrive referencen fra DDF og tag den med.</p>

    <h2><a name="faq-2">Hvorfor finder jeg ikke alt det, jeg forventer at finde?</a></h2>
    <p>Den Danske Forskningsdatabase bygger på frivillighed og universiteterne og forskningsinstitutionernes egen indrapportering. Der kan derfor være stor forskel på DDFs dækningsgrad fra institution til institution og fagområder generelt. DDF dækker i dag følgende forskningsinstitutioner. Se afsnittet om  <%= link_to("Institutioner", about_research_institutions_path) %>. Husk derfor altid at søge flere steder!</p>

    <h2><a name="faq-3">Hvordan gemmer jeg fundne referencer?</a></h2>
    <p>
      I DDF er det muligt at eksportere referencerne til dit bibliografiske værktøj og importere
      dem til din referenceliste. Du skal klikke på ’Gem og eksporter’-ikonet vist i hver enkelt
      post, eller vælge ’Gem og eksporter’-drop down boksen oven over søgeresultatet, hvis du
      ønsker at eksportere alle posterne i søgeresultatet.
    </p>
    <p>
      Hvis du ”blot” skal bruge en eller få referencer til en bibliografi, kan du også kopiere
      direkte fra DDF ind i dit tekstbehandlingsprogram, i så fald kan du klikke på ’Citer’-ikonet,
      som findes i alle de bibliografiske poster og anvende et af de foreslåede citationsformater,
      der netop er beregnet til litteraturlister.
    </p>
    <p>
      Du kan også vælge at eksportere dine referencer til eksempelvis Mendeley og Zotero –
      referencehåndteringssystemer udviklet til forskere og studerende.
    </p>
    <p>
      For yderligere information om, hvordan værktøjerne anvendes, henvises til
      <a href="https://www.mendeley.com/" target="_blank">https://www.mendeley.com/</a> og
      <a href="https://www.zotero.org/" target="_blank">https://www.zotero.org/</a>.
    </p>

    <h2><a name="faq-4">Jeg har fundet en fejl i en post, hvordan får jeg rettet fejlen?</a></h2>
    <p>Alle data i DDF høstes direkte fra lokale databaser. Ændringer i de lokale databaser opdateres automatisk i Den Danske Forskningsdatabase efter et stykke tid. Derfor skal du henvende dig direkte til den institution, som har leveret posten, for at få rettet fejlen.</p>

    <h2><a name="faq-5">Hvorfor vises siden ikke, som jeg forventer, når jeg anvender Internet Explorer?</a></h2>
    <p>Hvis du anvender browseren Internet Explorer og siderne ikke vises, som du forventer – eksempelvis placeres menuerne forkert og tekst kan være blandet sammen, kan det skyldes et problem med kompatibiliteten mellem Internet Explorer og det websted, du befinder dig på. Under faneblade ’Funktioner’ vælges ’Indstillinger for kompatibilitetsvisning’ – Slå ’Vis intranetsteder i kompatibilitetsvisning’ fra.</p>

    <h2><a name="faq-6">Hvordan får jeg RSS feeds fra Den Danske Forskningsdatabase?</a></h2>
    <p>
      RSS (Rich Site Summary) feeds giver dig mulighed for at holde dig opdateret om nye dokumenter i Den Danske Forskningsdatabase.
      Det er muligt at få RSS-feeds fra Den Danske Forskningsdatabase ved at tilføje <strong>.rss</strong> i URL’en for en søgning.
    </p>
    <h3>Eksempel</h3>
    <ol>
    <li>
      Udfør søgningen i DDF. Søgningen giver eksempelvis følgende URL:<br/>
      <a href="http://forskningsdatabasen.dk/en/catalog?utf8=%E2%9C%93&f[format_orig_s][]=dja&locale=en&q=Northeast+Brazil">
        http://forskningsdatabasen.dk/en/catalog?utf8=%E2%9C%93&f[format_orig_s][]=dja&locale=en&q=Northeast+Brazil
      </a>
    </li>

    <li>
      Tilføj ’.rss’ i URL’en umiddelbart efter ’catalog’:<br/>
    <a href="http://forskningsdatabasen.dk/en/catalog.rss?utf8=%E2%9C%93&f[format_orig_s][]=dja&locale=en&q=Northeast+Brazil">
      http://forskningsdatabasen.dk/en/catalog.rss?utf8=%E2%9C%93&f[format_orig_s][]=dja&locale=en&q=Northeast+Brazil
    </a>
    </li>
    </ol>
  </div>
</article>

