<article class="static">

  <div class="measure">
    <h1>FAQ</h1>

    <ul class="faq-list">
      <li><a href="#faq-1">How do I get access to the full-text of the records I have found?</a></li>
      <li><a href="#faq-2">Why do I not find all that I would expect in The Danish National Research Database?</a></li>
      <li><a href="#faq-3">How do I save the relevant records I have found?</a></li>
      <li><a href="#faq-4">I have found an error in data, how can I get it corrected?</a></li>
    </ul>

    <h2><a name="faq-1">How do I get access to the full-text of the records I have found?</a></h2>
    <p>The database does not hold actual material. No assistance w.r.t. ordering material is offered. In order to get a hold of any publications found in this database, follow backlinks to the originating CRIS – it may offer access options.  Otherwise, a library (public or research) or the publisher may help.</p>

    <h2><a name="faq-2">Why do I not find all that I would expect in The Danish National Research Database?</a></h2>
    <p>The Danish National Research Database is based on voluntary participation from the universities and research institutions in Denmark. This is why there is a  variation in the research database coverage from one to another institution and from different research fields.</p>

    <h2><a name="faq-3">How do I save the relevant records I have found?</a></h2>
    <p>The National Danish Research Database provides you with a feature for exporting references in the RIS format for use in your bibliographic tool, i.e. Reference Manager, RefWorks or in the BibTeX format for use in LaTeX files, or you can choose to export the references into Mendeley — a free reference manager and PDF reader designed for researchers, students and academics .To save a reference just click on the “Save and export” icon next to the record you wish to save and choose the export option in the drop down or use the drop down “Save and export” to export the search result.</p>

    <p>In case you don’t need to use a reference manager tool for saving your references, you could choose to copy/paste a reference in <strong>APA-</strong>, <strong>MLA-</strong> or <strong>Chicago Author Date</strong> style in the research database into your reference list. The styles are designed for reference lists. Click on the ‘Cite’-icon next to title and the reference is displayed in the different styles.</p>

    <h2><a name="faq-4">I have found an error in a data, how can I get it corrected?</a></h2>
    <p>Data in The National Danish Research Database is harvested directly from the local CRIS systems. Changes in the local systems are automatically updated in the database. Therefore you should contact the institution that provides The National Danish Research Database with the record and ask them to correct the error.</p>
  </div>
</article>

