<article class="static">

  <div class="measure">
    <h1>FAQ</h1>

    <ul class="faq-list">
      <li><a href="#faq-1">Hvordan får jeg fat i fuldteksterne til de referencer, jeg har fundet?</a></li>
      <li><a href="#faq-2">Hvorfor finder jeg ikke alt det, jeg forventer at finde?</a></li>
      <li><a href="#faq-3">Hvordan gemmer jeg fundne referencer?</a></li>
      <li><a href="#faq-4">Jeg har fundet en fejl i en post, hvordan får jeg rettet fejlen?</a></li>
    </ul>

    <h2><a name="faq-1">Hvordan får jeg fat i fuldteksterne til de referencer, jeg har fundet?</a></h2>
    <p>Hvis der ikke er link til en fuldtekst i den reference, du har fundet hos dataleverandøren, så kan du gå til dit nærmeste folke- eller forskningsbibliotek, som kan hjælpe dig med at skaffe publikationen. Som en hjælp til genfindingen kan du udskrive referencen fra DDF og tag den med.</p>

    <h2><a name="faq-2">Hvorfor finder jeg ikke alt det, jeg forventer at finde?</a></h2>
    <p>Den Danske Forskningsdatabase bygger på frivillighed og universiteterne og forskningsinstitutionernes egen indrapportering. Der kan derfor være stor forskel på DDFs dækningsgrad fra institution til institution og fagområder generelt. DDF dækker i dag følgende forskningsinstitutioner. Se afsnittet om  <a href="/about/data">Dataleverandører</a>. Husk derfor altid at søge flere steder!</p>

    <h2><a name="faq-3">Hvordan gemmer jeg fundne referencer?</a></h2>
    <p>
      I DDF er det muligt at eksportere referencerne til dit bibliografiske værktøj og importere
      dem til din referenceliste. Du skal klikke på ’Gem og eksporter’-ikonet vist i hver enkelt
      post, eller vælge ’Gem og eksporter’-drop down boksen oven over søgeresultatet, hvis du 
      ønsker at eksportere alle posterne i søgeresultatet.
    </p>
    <p> 
      Hvis du ”blot” skal bruge en eller få referencer til en bibliografi, kan du også kopiere
      direkte fra DDF ind i dit tekstbehandlingsprogram, i så fald kan du klikke på ’Citer’-ikonet,
      som findes i alle de bibliografiske poster og anvende et af de foreslåede citationsformater,
      der netop er beregnet til litteraturlister.
    </p>
    <p>
      Du kan også vælge at eksportere dine referencer til eksempelvis Mendeley og Zotero – 
      referencehåndteringssystemer udviklet til forskere og studerende.
    </p>
    <p>
      For yderligere information om, hvordan værktøjerne anvendes, henvises til 
      <a href="https://www.mendeley.com/" target="_blank">https://www.mendeley.com/</a> og
      <a href="https://www.zotero.org/" target="_blank">https://www.zotero.org/</a>
    </p>

    <h2><a name="faq-4">Jeg har fundet en fejl i en post, hvordan får jeg rettet fejlen?</a></h2>
    <p>Alle data i DDF høstes direkte fra lokale databaser. Ændringer i de lokale databaser opdateres automatisk i Den Danske Forskningsdatabase efter et stykke tid. Derfor skal du henvende dig direkte til den institution, som har leveret posten, for at få rettet fejlen.</p>
  </div>
</article>

