<div class="intro">
  <div class="container">
    <p class="pitch measure"> <%= t('blacklight.elevator_pitch')%> </p>
    <p class="news">
      <em class="news-tag"><%= t('blacklight.news_tag')%></em>
      <%= t('blacklight.news_content')%>
    </p>
  </div>
</div>

<div class="container">
  <div id="chart"></div>
</div>

