<body>

  <header>
    <div class="wrapper row">
      <nav class="upper row">
        <ul class="menu-items-list horizontal right">
          <li><a href="">History</a></li>
          <li><a href="">Danish</a></li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-30">Danish National Research Database</div>
        <div class="col-70">
          <form action="/">
            <input type="search" placeholder="Search...">
            <button id="search" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <h1>Hello DTU</h1>
  </div>

</body>

