<!--
  <header>
    <div class="wrapper row">
      <nav class="upper row">
        <ul class="menu-items-list horizontal align-right">
          <li><a href="">History</a></li> |
          <li><a href="">Danish</a></li>
        </ul>
      </nav>
      <h1 class="logo logo-main">
        <em>Danish National</em>
        Research Database
      </h1>
      <div class="row">

        <%# render 'search_form' %>

        <form action="/" class="search">
          <fieldset>
            <input type="search" placeholder="Search publications, authors, or topics" />
            <button type="submit" value="Go"><i class="fa fa-search"></i></button>
          </fieldset>
        </form>

    </div>
  </header>
-->

<div class="wrapper row tablet-l grid">
  <div class="col-30">
    <ul class="facets-list">
      <li>
        <h1 class="facet-heading group">
          Type
          <span class="close align-right">
            <a href=""><i class="fa fa-arrow-circle-down"></i></a>
          </span>
        </h1>
        <ul class="facet-items-list">
          <li class="group">
            <a href="">Journal Article<em class="number-of-items align-right">1231234</em></a>
          </li>
          <li class="group">
            <a href="">Book Chapter<em class="number-of-items align-right">12312</em></a>
          </li>
          <li class="group">
            <a href="">Conference Paper<em class="number-of-items align-right">12</em></a>
          </li>
        </ul>
      </li>
      <li>
        <h1 class="facet-heading group">
          Publication Year
          <span class="close align-right">
            <a href=""><i class="fa fa-arrow-circle-right"></i></a>
          </span>
        </h1>
<!--
            <ul class="facet-items-list">
              <li class="group">
                <a href="">Journal Article<em class="number-of-items align-right">1231234</em></a>
              </li>
              <li class="group">
                <a href="">Book Chapter<em class="number-of-items align-right">12312</em></a>
              </li>
              <li class="group">
                <a href="">Conference Paper<em class="number-of-items align-right">12</em></a>
              </li>
            </ul>
          -->
        </li>
        <li>
          <h1 class="facet-heading group">
            Research Insitution
            <span class="close align-right">
              <a href=""><i class="fa fa-arrow-circle-down"></i></a>
            </span>
          </h1>
          <ul class="facet-items-list">
            <li class="group">
              <a href="">University of Copenhagen<em class="number-of-items align-right">1231234</em></a>
            </li>
            <li class="group">
              <a href="">Aarhus University<em class="number-of-items align-right">12312</em></a>
            </li>
            <li class="group">
              <a href="">Technical University of Denmark<em class="number-of-items align-right">126,205</em></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


