<div class="intro">
  <div class="container">
    <p class="pitch measure">
      <em>The <strong>Danish National Research Database</strong></em> is a single entry point for Danish research, Danish researchers and Danish research institutions. It has indexed <em>1233433</em> scientific publications from <em>345</em> researchers, distributed among <em>22</em> topics, with new research being added constantly.
    </p>
  </div>
</div>

<div class="container">
  <div id="chart"></div>
</div>

