<div class="col-md-3">
  <div id="chart1" data-function="oai-chart" data-link="<%= oai_url(resource: 'national') + "&year=2014" %>"></div>
</div>
<div class="col-md-4">
  <div id="chart2" data-function="oai-chart" data-link="<%= oai_url(resource: 'research_area') + "&year=2014" %>"></div>
</div>
<div class="col-md-5">
  <div id="chart3" data-function="oai-chart" data-link="<%= oai_url(resource: 'universities') + "&year=2014" %>"></div>
</div>