<div class="table">
  <div class="table-cell">Column 1</div>
  <div class="table-cell">Column 2</div>
  <div class="table-cell">Column 3</div>
</div>

<div class="table">
  <div class="table-cell lorem">
    Column 1
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam accusamus qui rem laborum ratione maxime corrupti eius vitae natus consequatur, ipsum sint aliquam perferendis, repellat laudantium, maiores quis, mollitia pariatur.
    </p>
  </div>

  <div class="table-cell list-container debug">
    Column 2
    <ul>
      <li><a href="">Link 1</a></li>
      <li><a href="">Link 2</a></li>
      <li><a href="">Link 3</a></li>
    </ul>
  </div>

  <div class="table-cell">Column 3</div>
</div>
