<article class="static">
  <div class="measure">
    <h1>Cookies and privacy policy</h1>
    <p>
      We want to provide our users of The Danish National Research Database (DDF) with a simple and user-friendly research database. To keep track of how the database is used by the users, we make use of cookies. Cookies provide us with important information about how and when the database is used, which pages are viewed most often, how long our users stay at the site, and so on. They also enable us to provide personalised features to users.
    </p>

    <h2>What is a cookie?</h2>
    <p>
      A cookie is a small text file that is stored in your browser to recognize your computer the next time you visit the site. Cookies are not active files - that is, they cannot harbor viruses or track any content on your computer. Their only purpose is to send <strong>anonymous</strong> information back to us about the time of the visit, the duration, and so on.
    </p>
    <h2>At DDF, we use cookies for the following purposes:</h2>
    <h3>Statistics (Google Analytics): </h3>
    <p>
      We collect traffic information on DDF, in order to tailor it to user needs. For example, we obtain information about the number of visits, the average duration of the visit, the number of new visitors and the number of returning visitors, which browsers are used, demographic information etc. We use Google Analytics to store the statistical information.
    </p>
    <h3>Select records and History:</h3>
    <p>
      To be able to save selected records during the session, we use a ‘guest cookie’. This cookie also allows us to provide the user with a view over their search history. This information is deleted, when the browser is closed.
    </p>
    <h2>If you do not want to allow cookies</h2>
    <p>
      If you do not want to allow cookies on your computer, you can change the settings of your browser, so that it will remember this in the future. You can also delete cookies that have already been stored.    </p>
      <p>
        For instructions and to read more about cookies, visit <a href="http://aboutcookies.org">aboutcookies.org</a>.
      </p>
      <h2>Use of personal data</h2>
      <p>
        We do not gather personal data.
      </p>
    </div>
  </article>
