<article class="static">
  <div class="measure">
    <h1>Release historie</h1>

    <p>
      Softwaren der ligger bag DDF opdateres løbende med rettelser og ny funtionalitet.
      Her kan du se en liste over ændringerne.
    </p>
    <dl>
      <dt>Oktober 2015</dt>
      <dd>Interface og søgeteknologi opgraderet</dd>
      <dt>Januar 2016</dt>
      <dd>
        Diverse forbedringer, inklusiv bedre forfining af søgeresultater
        (ny facet på indberetningsår) og forbedret integration (<a href="http://altmetric.com">altmetric.com</a>)
        <ul class="release-details">
          <li>
            Udvælge poster til at gemme i Mendeley, eksportere til RIS- eller
            BibTex formatet eller til at sende referencerne via email.
          </li>
          <li>Implementering af Altmetrics</li>
          <li>Facet på indberetningsår</li>
          <li>Email-funktion implementeret</li>
          <li>Forbedret integration med Google Scholar</li>
        </ul>
      </dd>
      <dt>Februar 2016</dt>
      <dd>
        Forbedret fremvisning af dataleverandører på siden
        <%= link_to 'Leverandører', about_data_providers_path %>
        og ved brug af facetten 'Forskningsinstitution'.
      </dd>
    </dl>

</article>
