<article class="static">
  <div class="measure">
    <h1>Release historie</h1>
    <p>
      Softwaren der ligger bag DDF opdateres løbende med rettelser og ny funtionalitet.
      Her kan du se en liste over ændringerne.
    </p>
    <ol class="release-list">
      <li>
        <time datetime="2016-06">Juni 2016</time>
        <p>
          <ol class="release-details">
            <li>Danske Profesionshøjskoler leverer nu data til Den Danske Forskningsdatabase</li>
            <li>Standardfremvisning af maks. 3 forfattere med mulighed for at få vist alle forfatterne på fremvisningsiden for en enkelt post.</li>
            <li>Forfatternes affiliationer angives ved nummerering</li>
          </ol>
        </p>
      </li>
      <li>
        <time datetime='2016-03'>Marts 2016</time>
        <p>
          <ol class="release-details">
            <li>Den danske <a href="/da/open_access/overview">Open Access-indikator</a> er implementeret til støtte for implementeringen af Den Nationale Open Access strategi.</li>
            <li>Optimering af dublet identifikation; ca. 130.000 uønskede dublet registreringer er ikke længere synlige i DDF.</li>
            <li>Diverse: <a href="/da/about/faq#faq-6">Beskrivelse af hvordan RSS-feeds kan anvendes</a>, <a href="/da/about/privacy">tilføjelse af privacy beskrivelse</a>.</li>
          </ol>
        </p>
      </li>
      <li>
        <time datetime='2016-02'>Februar 2016</time>
        <p>
          Forbedret fremvisning af dataleverandører på siden
          <%= link_to 'Leverandører', about_data_providers_path %>
          og ved brug af facetten 'Forskningsinstitution'.
        </p>
        <li>
          <time datetime='2016-01'>Januar 2016</time>
          <p>
            Diverse forbedringer, inklusiv bedre forfining af søgeresultater
            (ny facet på indberetningsår) og forbedret integration (<a href="http://altmetric.com">altmetric.com</a>)
            <ol class="release-details">
              <li>
                Udvælge poster til at gemme i Mendeley, eksportere til RIS- eller
                BibTex formatet eller til at sende referencerne via email.
              </li>
              <li>Implementering af Altmetrics</li>
              <li>Facet på indberetningsår</li>
              <li>Email-funktion implementeret</li>
              <li>Forbedret integration med Google Scholar</li>
            </ol>
          </p>
        </li>
        <li>
          <time datetime='2015-10'>Oktober 2015</time>
          <p>Interface og søgeteknologi opgraderet</p>
        </li>
      </ol>
    </div>
  </article>
