<article class="static">
  <div class="measure">
    <h1 class="static">Release History</h1>
    <p>
      The DDF software is updated regularly with fixes and enhancements.
      You can find an overview of the changes made to the software on this page.
    </p>

    <ol class="release-list">
      <li>
        <time datetime='2016-03'>March 2016</time>
          <p>
            <ol class="release-details">
              <li>Implementation of the <a href="/en/open_access/overview">Danish Open Access Indicator</a>. Supports the implementation of the National Open Access strategy.</li>
              <li>Optimization of dedup algorithm; Approx. 130.000 unwanted duplicate records are no longer visible in DDF.</li>
              <li>Misc: <a href="/en/about/faq#faq-6">Description of how to use RSS-feeds</a>, addition of <a href="/en/about/privacy">privacy description</a>.</li>
            </ol>
          </p>
        </time>
      </li>
      <li>
        <time datetime='2016-02'>February 2016</time>
        <p>
          Enhanced presentation of research institutions on the
          <%= link_to 'Institutions page', about_research_institutions_path %>
          and when using the facet 'Research Institution'.
        </p>
      </li>

      <li>
        <time datetime='2016-01'>January 2016</time>
        <p>
          Various improvements, including enhanced search result refinement
          (new facet on submission year) and improved integration
          (<a href="http://altmetric.com">altmetric.com</a>):
        </p>

        <ol class="release-details">
          <li>
            Select records for save to Mendeley, export to RIS and BibTex or
            for emailing the citations
          </li>
          <li>Altmetrics indicator added to user interface</li>
          <li>Facet on submission year</li>
          <li>Citation email function implemented</li>
          <li>Improved integration with Google Scholar.</li>
        </ol>
      </li>

      <li>
        <time datetime='2015-10'>October 2015</time>
        <p>Interface and search technology upgraded.</p>
      </li>
    </ol>
  </div>
</article>
