<article class="static search-docs">

  <div class="measure">
    <h1>Søgning</h1>

    <p>
      Syntaksen <a target="_blank" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene Query Syntax</a> anvendes som søgesyntaks, men vær opmærksom på, at Lucene anvender <span class="operator">OR</span> operatoren som default operator mellem to termer, hvis der ikke er angivet en boolsk operator, hvorimod DDF anvender <span class="operator">AND</span> operatoren som default operator.
    </p>

    <p>De tilgængelige feltnavne er::</p>
  </div>

  <div class="measure">
    <table id="search-parameters" class="one-col-emphasis">
     <thead>
       <tr>
         <th>Felter</th>
         <th>Feltnavne</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Forfatter</td>
         <td>
           <strong>au:</strong> or <strong>author:</strong> eller <strong>authors:</strong>
           <p class="search-explanation"><em>Example:</em> au:"Smith, Bob"</p>
         </td>
       </tr>
       <tr>
         <td>Editor</td>
         <td>
           <strong>ed:</strong> or <strong>editor:</strong> eller <strong>editors:</strong>
         </td>
       </tr>
       <tr>
         <td>Affiliation</td>
         <td>
           <strong>af:</strong> eller <strong>affiliation:</strong>
         </td>
       </tr>
       <tr>
         <td>Title</td>
         <td>
           <strong>ti:</strong> eller <strong>title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Tidsskriftstitel / forkortet titel / original titel
         </td>
         <td>
           <strong>jo:</strong> eller <strong>journal:</strong> eller <strong>journaltitle:</strong> or <strong>journal_title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Resumé
         </td>
         <td>
           <strong>ab:</strong> eller <strong>abstr:</strong> eller <strong>abstract:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISBN
         </td>
         <td>
           <strong>isbn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISSN
         </td>
         <td>
           <strong>issn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           DOI
         </td>
         <td>
           <strong>doi:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Publikationssår
         </td>
         <td>
           <strong>y:</strong> eller <strong>year:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Udgiver
         </td>
         <td>
           <strong>pu:</strong> eller <strong>pub:</strong> eller <strong>publisher:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Bind
         </td>
         <td>
           <strong>v:</strong> eller <strong>vol:</strong> eller <strong>volume:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Hæfte
         </td>
         <td>
           <strong>i:</strong> eller <strong>iss:</strong> eller <strong>issue:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Sidetal start
         </td>
         <td>
           <strong>p:</strong> eller <strong>page:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Emneord
         </td>
         <td>
           <strong>kw:</strong> eller <strong>ke:</strong> eller <strong>key:</strong> eller <strong>keyword:</strong> eller <strong>keywords:</strong> eller <strong>su:</strong> eller <strong>subj:</strong> eller <strong>subject:</strong>

           <p class="search-explanation">
             DDF har ikke kontrollerede emneord, men enkelte forskere eller universiteter vælger at give deres poster emneord. Hits på emneord kan forventes at have en høj relevans.
           </p>
         </td>
       </tr>
     </tbody>
   </table>
 </div>

 <div class="measure">
  <h2>Stemming</h2>
  <p>Enhver søgeterm er som standard reduceret til roden af termen for at få et søgeresultat, der indholder alle former af termen. En søgning efter termen: <span class="search-example">test</span> giver et søgeresultat, hvor termerne <span class="search-result">tests</span>, <span class="search-result">tested</span>, <span class="search-result">testing</span>, <span class="search-result">tester</span> mfl. indgår.</p>

  <h2>Trunkering og jokertegn</h2>
  <p>I de fleste tilfælde er det ikke nødvendigt at anvende trunkering, da der som default anvendes stemming. En stjerne bruges som joker-symbol, for at angive et vilkårligt skrifttegn inden for et ord. En søgning for <span class="search-example">wom*n</span> vil således give resultater med <span class="search-result">woman</span> and <span class="search-result">women</span>.</p>

  <p>Eksemplerne nedenfor illustrerer forskellen på en søgning udført uden trunkering (søgning 1) og en søgning med trunkering (søgning 2):</p>

  <p><strong>Søgning 1</strong>: <span class="search-example">ti:water</span> <br />
    Giver resultater med: <span class="search-result">water</span> og <span class="search-result">waters</span> (default stemming)</p>

    <p><strong>Søgning 2</strong>: <span class="search-example">ti:water*</span> <br />
      Giver resultater med: <span class="search-result">water</span>, <span class="search-result">waters</span> and <span class="search-result">waterlogged</span>.</p>

      <p>Søgeresultaterne kan rankeres efter forskellige kriterier. Standard er “relevans”. Relevans prioriterer data fra titel-feltet.</p>

      <p>Der tilbydes en række facetter til at indsnævre søgningen med.</p>


  <h2>Hent</h2>
  <p>Ved hver publikation tilbydes der links tilbage til institutionernes CRIS systemer, links til Open Access fuldtekst versionerne samt links til forlagsversionen.</p>

  <p>Det er interfacet i det enkelte CRIS system, som publikationen oprindeligt er hentet fra, der håndterer rettighederne til fuldteksterne. Det enkelte CRIS system tilbyder sandsynligvis forskellige og differentierede adgangsrettigheder til fuldteksterne baseret på brugerens rolle, affiliation, version af fuldteksten etc.</p>

  <p>Den Danske Forskningsdatabase indeholder ingen fuldtekster og har ingen service hvad angår bestilling af publikationer. Her henvises til forskningsinstitutionens CRIS system, et bibliotek og/eller publikationens udgiver.</p>
  </div>
  </article>
