<article class="static">

  <div class="measure">
    <h1>Søgning</h1>

    <p>Syntaksen <a target="_blank" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene Query Syntax</a> anvendes som søgesyntaks. De tilgængelige feltnavne er::</p>
  </div>

  <div class="measure">
    <table id="search-parameters" class="one-col-emphasis">
     <thead>
       <tr>
         <th>Felter</th>
         <th>Feltnavne</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Forfatter</td>
         <td>
           <strong>au:</strong> or <strong>author:</strong> eller <strong>authors:</strong>
           <p class="search-explanation"><em>Example:</em> au:"Smith, Bob"</p>
         </td>
       </tr>
       <tr>
         <td>Editor</td>
         <td>
           <strong>ed:</strong> or <strong>editor:</strong> eller <strong>editors:</strong>
         </td>
       </tr>
       <tr>
         <td>Affiliation</td>
         <td>
           <strong>af:</strong> eller <strong>affiliation:</strong>
         </td>
       </tr>
       <tr>
         <td>Title</td>
         <td>
           <strong>ti:</strong> eller <strong>title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Tidsskriftstitel / forkortet titel / original titel
         </td>
         <td>
           <strong>jo:</strong> eller <strong>journal:</strong> eller <strong>journaltitle:</strong> or <strong>journal_title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Resumé
         </td>
         <td>
           <strong>ab:</strong> eller <strong>abstr:</strong> eller <strong>abstract:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISBN
         </td>
         <td>
           <strong>isbn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISSN
         </td>
         <td>
           <strong>issn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           DOI
         </td>
         <td>
           <strong>doi:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Publikationssår
         </td>
         <td>
           <strong>y:</strong> eller <strong>year:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Udgiver
         </td>
         <td>
           <strong>pu:</strong> eller <strong>pub:</strong> eller <strong>publisher:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Bind
         </td>
         <td>
           <strong>v:</strong> eller <strong>vol:</strong> eller <strong>volume:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Hæfte
         </td>
         <td>
           <strong>i:</strong> eller <strong>iss:</strong> eller <strong>issue:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Sidetal start
         </td>
         <td>
           <strong>p:</strong> eller <strong>page:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Emneord
         </td>
         <td>
           <strong>kw:</strong> eller <strong>ke:</strong> eller <strong>key:</strong> eller <strong>keyword:</strong> eller <strong>keywords:</strong> eller <strong>su:</strong> eller <strong>subj:</strong> eller <strong>subject:</strong>

           <p class="search-explanation">
             DDF har ikke kontrollerede emneord, men enkelte forskere eller universiteter vælger at give deres poster emneord. Hits på emneord kan forventes at have en høj relevans.
           </p>
         </td>
       </tr>
     </tbody>
   </table>
 </div>

 <div class="measure">
  <p>Søgeresultaterne kan rankeres efter forskellige kriterier. Standard er “relevans”. Relevans prioriterer data fra titel-feltet.</p>

  <p>Der tilbydes en række facetter til at indsnævre søgningen med.</p>

  <h2>Hent</h2>
  <p>Ved hver publikation tilbydes der links tilbage til institutionernes CRIS systemer.</p>

  <p>Det er interfacet i det enkelte CRIS system, som publikationen oprindeligt er hentet fra, der håndterer rettighederne til fuldteksterne. Det enkelte CRIS system tilbyder sandsynligvis forskellige og differentierede adgangsrettigheder til fuldteksterne baseret på brugerens rolle, affiliation, version af fuldteksten etc.</p>

  <p>Den Danske Forskningsdatabase indeholder ingen fuldtekster og har ingen service hvad angår bestilling af publikationer. Her henvises til dataleverandørens CRIS system, et bibliotek og/eller publikationens udgiver.</p>
</div>
</article>

