<article class="static search-docs">

  <div class="measure">
    <h1>Search Tutorial</h1>

    <p>
      Database search is performed using the <a target="_blank" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene Query Syntax</a>, but be aware that while Lucene uses <span class="operator">OR</span> as the default conjunction operator, DDF uses the <span class="operator">AND</span> operator. So when no boolean operator is specified between search terms, <span class="operator">AND</span> will be used.
    </p>

    <p>The available search parameters are:</p>
  </div>

  <div class="measure">
    <table id="search-parameters" class="one-col-emphasis">
     <thead>
       <tr>
         <th>Fields</th>
         <th>Field names</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Author</td>
         <td>
           <strong>au:</strong> or <strong>author:</strong> or <strong>authors:</strong>
           <p class="search-explanation"><em>Example:</em> au:"Smith, Bob"</p>
         </td>
       </tr>
       <tr>
         <td>Editor</td>
         <td>
           <strong>ed:</strong> or <strong>editor:</strong> or <strong>editors:</strong>
         </td>
       </tr>
       <tr>
         <td>Affiliation</td>
         <td>
           <strong>af:</strong> or <strong>affiliation:</strong>
         </td>
       </tr>
       <tr>
         <td>Title</td>
         <td>
           <strong>ti:</strong> or <strong>title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Journal title / abbreviated title  /  original title
         </td>
         <td>
           <strong>jo:</strong> or <strong>journal:</strong> or <strong>journaltitle:</strong> or <strong>journal_title:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Abstract
         </td>
         <td>
           <strong>ab:</strong> or <strong>abstr:</strong> or <strong>abstract:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISBN
         </td>
         <td>
           <strong>isbn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           ISSN
         </td>
         <td>
           <strong>issn:</strong>
         </td>
       </tr>
       <tr>
         <td>
           DOI
         </td>
         <td>
           <strong>doi:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Publication year
         </td>
         <td>
           <strong>y:</strong> or <strong>year:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Publisher
         </td>
         <td>
           <strong>pu:</strong> or <strong>pub:</strong> or <strong>publisher:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Volume
         </td>
         <td>
           <strong>v:</strong> or <strong>vol:</strong> or <strong>volume:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Issue
         </td>
         <td>
           <strong>i:</strong> or <strong>iss:</strong> or <strong>issue:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Page start
         </td>
         <td>
           <strong>p:</strong> or <strong>page:</strong>
         </td>
       </tr>
       <tr>
         <td>
           Keyword
         </td>
         <td>
           <strong>kw:</strong> or <strong>ke:</strong> or <strong>key:</strong> or <strong>keyword:</strong> or <strong>keywords:</strong> or <strong>su:</strong> or <strong>subj:</strong> or <strong>subject:</strong>

           <p class="search-explanation">There are no controlled keywords in the Danish National Research Database, however, searching for keywords might return highly relevant records.</p>
         </td>
       </tr>
     </tbody>
   </table>
 </div>

 <div class="measure">
<!--
   <h2>Clustering of search combinations</h2>

   <p>Use parentheses to cluster different search combinations/operators in advanced search strings. Example:</p>

   <p class="search-example">
    (waste OR pollution) AND (denmark OR sweden)
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
   </p>

   <h2>Phrase search</h2>
   <p>Search for a phrase by enclosing the words in quotation marks:</p>

   <p class="search-example">
    "neural circuit"
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
   </p>

   <h2>Proximity searches</h2>
   <p>You can specify search terms to be within a certain number of words apart. To do a proximity search use the tilde <strong>~</strong> symbol at the end of a phrase. To search for <strong>emotional</strong> and <strong>individuals</strong> within 3 words of each other in a record, specify the search like this:</p>

   <p class="search-example">
    "emotional individuals"~3
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
   </p>

   <h2>Search operators</h2>
   <p>AND is default if you do not type anything between multiple search terms. Search operators like AND OR must be all caps.</p>

   <h2>Year range searches</h2>
   <p>Search for records published between 2006 and 2008 like so:</p>

   <p class="search-example">
    year:[2006 TO 2008]
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
   </p>
 -->

 <h2>Stemming</h2>
 <p>Any search term is by default reduced to its elemental root in order to retrieve all forms of the term, just like applying truncation. If you search for the term <span class="search-example">test</span> you will also retrieve hits on <span class="search-result">tests</span>, <span class="search-result">tested</span>, <span class="search-result">testing</span>, <span class="search-result">tester</span>, etc.</p>

 <h2>Truncation and wild card matching</h2>
 <p>In most cases truncation is not necessary because of the default stemming of search terms. Asterisk is used as wildcard symbol, representing any character within a word. Searching for <span class="search-example">wom*n</span> will retrieve <span class="search-result">woman</span> and <span class="search-result">women</span>.</p>

 <p>The following examples illustrate the difference between a query without truncation (query 1) and a query with truncation (query 2):</p>

 <p><strong>Query 1</strong>: <span class="search-example">ti:water</span> <br />
  Retrieves hits on: <span class="search-result">water</span> and <span class="search-result">waters</span> (default stemming)</p>

  <p><strong>Query 2:</strong> <span class="search-example">ti:water*</span> <br />
    Retrieves hits on: <span class="search-result">water</span>, <span class="search-result">waters</span> and <span class="search-result">waterlogged</span>.</p>

    <p>Search results can be ranked on various parameters. The default is “relevance”, giving a priority boost to the <em>title</em> data element.</p>

    <p>To refine search results, the database offers a selection of facets, which allows for narrowing down of the various parameters.</p>

    <h2>Get</h2>
    <p>For publications found in the database, backlinks to the research institutions CRIS systems are offered.</p>

    <p>Thus, access to the full texts of publications found in the database is handled by the user interfaces of the CRIS systems in which the publications were originally registered. They may offer different and differentiated access options – based on user role, affiliation, existence of deposited Open Access versions, etc.</p>

    <p>This database does not contain digital copies of any of the publications and has no service with regard to ordering of material. For ordering, please refer to the data providers’ CRIS, a library and/or the publishers of the publications.</p>
  </div>
</article>

