div.chart-container,
div.chart-link-container { padding-left: 0; } // Override BS default column padding

ul.stacked-bar,
ul.stacked-bar > li {
  margin: 0;
  padding: 0;
}
ul.stacked-bar > li {
  list-style-type: none;
  margin: 0;
  padding: 1em 0 .5em 0;
  @include respond-to($screen-md-min) {
    margin-bottom: .3em;
    padding: .3em 0;
  }
}
ul.stacked-bar > li:not(:last-child) {
  @include above-viewport($screen-md-min) {
    border-bottom: 1px dotted $blue-3;
  }
}
ul.stacked-bar > li:hover { background: $blue-4; }

ul.values {}
ul.values li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  list-style-type: none;
}

h3.oa-label {
  font-size: calc-em(17px);
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0 0 0 1em;
  @include respond-to($screen-md-min) {
    padding: 0 0 .5em 0;
  }
}
h3.oa-label--total { font-weight: 700; }

a.development {
  // display: block;
  font-size: 1.2em;
  vertical-align: top;
  color: $link-color-auxiliary;
  border-radius: 3px;
  position: relative;
  top: -1.5px;
}
a.development > span.fa {
  vertical-align: 10%;
  padding: 2px 7px 0 7px;
}
a.development:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

div.overlay {
  font-size: 16px;
  vertical-align: bottom;
  width: 160px;
  padding: 5px;
  position: absolute;
  bottom: 15px;
  left: 35%;
  z-index: 15;
  border: 3px solid #000;
  border-radius: 3px;
  background: rgba(0,0,0, .6);
  color: #2EFA05;
  // color: #fff;
  font-size: 0.80em;
  font-weight: 500;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
  overflow: visible;
}

ul.values li:hover div.overlay {
  visibility: visible;
  opacity: 1;
}

ul.stacked-bar .tooltip { line-height: 500px; }

div.overlay p {
  font-size: 1.1em;
  margin-bottom: .5em;
}
div.overlay p:last-child { margin-bottom: 0; }

.realized { background: $chart-green; }
.unused { background: $chart-yellow; }
.unclear { background: $chart-red; }

strong.realized {
  background: inherit;
  color: $chart-green;
}
strong.unused {
  background: inherit;
  color: $chart-yellow;
}
strong.unclear {
  background: inherit;
  color: $chart-red;
}

span.relative-rounded {
  font-size: .8em;
  font-weight: 600;
  padding: .4em 0 .4em .5em;
  color: #fff;
  line-height: 1em;
}

li.unused span.relative-rounded  { color: #000; }

ul.oa-colors-list {
  margin: 0;
  text-align: center;
  font-weight: 600;
  color: #333;
  font-size: .93em;
}
ul.oa-colors-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
ul.oa-colors-list li:not(:last-child) { margin-right: 1.5em; }
ul.oa-colors-list li span.legend {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: .5em;
}
ul.oa-colors-list li span.realized { background: $chart-green; }
ul.oa-colors-list li span.unused { background: $chart-yellow; }
ul.oa-colors-list li span.unclear { background: $chart-red; }
ul.oa-colors-list li span.projected { background: $chart-green--projected; }
