<div class="col-xs-12 col-sm-4 col-md-2 exhibit-card">
  <div class="card-front">
    <%= link_to exhibit do %>
      <%= render 'exhibit_card_front', exhibit: exhibit %>
    <% end  %>
  </div>
</div>
