<% if query_has_constraints? %>
  <div class="clearfix applied-filters-container">
    <ul class="align-right index-view__resets">
      <li class="destructive">
        <i class="glyphicon glyphicon-remove-sign"></i>
        <%=link_to t('blacklight.search.start_over'), start_over_path %>
      </li>
    </ul>

    <h3 class="constraints">
      <%= t('blacklight.search.filters.title') %>
    </h3>

    <ul class="applied-filters-list">
      <%= render_constraints(params) %>
    </ul>
  </div>
<% end %>

