<ul class="search-widgets-list align-right">
  <li><%= render :partial => 'save_and_export_widget' %></li>
  <li><%= render :partial => 'sort_widget_selected' %></li>
  <li><%= render :partial => 'per_page_widget' %></li>
  <!-- <li><%# render :partial => 'view_type_group' %></li> -->
</ul>
