<div class="data-providers data-providers-index">
  <dt><%= t 'blacklight.search.fields.index.data_providers' %>:</dt>
  <% collect_backlinks(document).each do |backlink| %>
    <dd>
      <%= link_to source_label(get_backlink_origin(backlink)), backlink,
                  :target => '_blank',
                  :title  => t('ddf.links.backlink_hover', :source => source_label(get_backlink_origin(backlink))) %>
      <i class="fa fa-external-link-square"></i>
    </dd>
  <% end %>
</div>
