<table id="search-options" class="table table-hover" role="menu" aria-labelledby="more-options">
  <tbody>


    <tr class="search_history">
      <td class="bordered"><i class="icon-clock-o"></i> <b>Recent History:</b></td>
    </tr>

    <% @searches.limit(10).each do |entry| %>
    <tr class="search_history">
      <td class="entry">
        <%= entry.query_params %>
      </td>
    </tr>

    <%- end -%>



    <tr class="search-history-links">
      <td class="bordered">
        <i class="icon-clock-o"></i> <%# link_to "Complete history", search_history_path %></td>
      </tr>



    </tbody>
  </table>
