<div class="panel__block data-providers data-providers-show">
  <h2 class="panel__block-heading">
    <%= t('ddf.tools.at_institutions') %>
    <i class="fa fa-external-link-square"></i>
  </h2>

  <div class="panel__block-contents">
    <ul>
      <%= render_backlinks(document) %>
    </ul>
  </div>
</div>

