<div class="docdetails panel">

  <div class="panel__block availability-panel availability-panel--show">
    <h2 class="panel__block-heading">
      Available at
      <i class="fa fa-file"></i>
    </h2>

    <div class="panel__block-contents">
      <ul class="institutions-list">
        <% (@document['backlink_ss'] || []).each do |link| %>
          <li>
            <%= link_to((t("source_labels.#{get_backlink_origin link}") + ' <i class="fa fa-external-link-square"></i>').html_safe, link, :target => '_blank') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class=" panel__block">
    <h2 class="panel__block-heading">
      Metrics
      <i class="fa fa-pie-chart"></i>
    </h2>

    <div class=" panel__block-contents">
      <p>Metrix!</p>
    </div>
  </div>

  <div class="panel__block">
    <h2 class="panel__block-heading">
      Open access
      <i class="fa fa-unlock-alt"></i>
    </h2>

    <div class="panel__block-contents">
      <p>Access or not?</p>
    </div>
  </div>

</div>

