<div class="documentHeader documentHeader--show row">
  <% # bookmark/folder functions -%>
  <%= render_document_heading(document, :tag => :h1, :class => :doctitle) %>

  <div class="document-actions-container">
    <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>
  </div>
</div>
