<div class=" panel__block">
  <h2 class="panel__block-heading">
    <%= t('ddf.tools.metrics') %>
    <i class="fa fa-pie-chart"></i>
  </h2>

  <div class=" panel__block-contents">
    <p>Metrix!</p>
  </div>
</div>
