<%# We overwrite this partial because we need to add the hidden class to the well.
This allows us to selectively enable it if there is Altmetrics content.
 Otherwise it will stay hidden.
 For people it is visible if the person has an ORCID
 %>
<% document_presenter ||= present(@document) %>
<% if document_presenter.has_metrics? %>
  <% display_class = @document.person? ? '' : 'hidden'  %>
  <%= content_tag :div, id: :metrics, class: "well tools #{display_class}" do %>
    <h4><%= t 'dtu.tools.metrics.title' %></h4>
    <%= document_presenter.render_metrics %>
  <% end %>
<% end %>
