<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>

<!--
  <div class="selected-documents">
    <h1 class="selected-documents__heading">
      <i class="glyphicon glyphicon-check"></i>
      Selected documents <span class="number">(3)</span>
    </h1>

    <div class="selected-documents__container">
      <ul class="selected-documents__actions-list icon-labels icon-labels--selected">
        <li>
          <i class="glyphicon glyphicon-print"></i>
          <a href="">Print all</a>
        </li>
        <li>
          <i class="glyphicon glyphicon-export"></i>
          Export
          <ul class="export-options-list">
            <li><a href="">RIS</a></li>
            <li><a href="">RIS (Zotero UTF-8)</a></li>
          </ul>
        </li>
        <li>
          <i class="glyphicon glyphicon-remove-circle"></i>
          <a href="">Clear list</a>
        </li>
      </ul>

      <ol class="selected-documents__list">
        <li>
          Mapping the nation for war
          <a href=""><i class="glyphicon glyphicon-remove"></i></a>
        </li>
        <li>
          Additive prognostic value of plasma N-terminal pro-brain natriuretic peptide and coronary artery calcification for cardiovascular events and mortality in asymptomatic patients with type 2 diabetes
          <a href=""><i class="glyphicon glyphicon-remove"></i></a>
        </li>
        <li>
          The Danish fat tax - effects on consumption patterns and risk of ischaemic heart disease
          <a href=""><i class="glyphicon glyphicon-remove"></i></a>
        </li>
      </ol>
    </div>
  </div>
 -->

</div>

<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
  <%# if there are no input/search related params, redirect to main index page -%>
  <%# controller.redirect_to '/' %>
  <% controller.redirect_to :controller => 'pages', :action => 'index' %>
  <% else %>
  <%= render 'search_results' %>
  <% end %>
</div>
