<div id="sidebar" class="col-md-3 col-sm-4 no-print">
  <%= render 'search_sidebar' %>
  <%= render_statistics_link %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
  <%# if there are no input/search related params, redirect to main index page -%>
  <%# controller.redirect_to '/' %>
  <% controller.redirect_to :controller => 'pages', :action => 'index' %>
  <% else %>
  <%= render 'search_results' %>
  <% end %>
</div>
