@import "../base/all";

.wrapper {
  width: $cols14;
  @include centered;
  @include respond-to($cols13+$cols4) { width: 85%; }
  @include respond-to($ipad_portrait) { width: 90%; }
}
.measure {
  width: $cols8;
  @include centered;
  @include respond-to($cols12) { width: 85%; }
  @include respond-to($iphone_landscape) { width: 90%; }
}

/*
Some examples of classes for responsive breakpoints */
.tablet-l > *[class^="col"] {
  @include respond-to($ipad_landscape) {
    float: none;
    width: 100%;
  }
}
.tablet-p > *[class^="col"] {
  @include respond-to($ipad_portrait) {
    float: none;
    width: 100%;
  }
}
.mobile-l > *[class^="col"] {
  @include respond-to($iphone_landscape) {
    float: none;
    width: 100%;
  }
}

ul.horizontal li { display: inline-block; }
ul.right { float: right; }

header {
  background: #eee;
  padding: 1em 0 .5em 0;
}

