@import "../base/all";

.wrapper {
  width: $cols15;
  @include centered;
  @include respond-to($cols13+$cols4) { width: 85%; }
  @include respond-to($ipad_portrait) { width: 90%; }
}
.measure {
  width: $cols8;
  @include centered;
  @include respond-to($cols12) { width: 85%; }
  @include respond-to($iphone_landscape) { width: 90%; }
}

/*
Some examples of classes for responsive breakpoints */
.tablet-l > *[class^="col"] {
  @include respond-to($ipad_landscape) {
    float: none;
    width: 100%;
  }
}
.tablet-p > *[class^="col"] {
  @include respond-to($ipad_portrait) {
    float: none;
    width: 100%;
  }
}
.mobile-l > *[class^="col"] {
  @include respond-to($iphone_landscape) {
    float: none;
    width: 100%;
  }
}

ul.horizontal li { display: inline-block; }

.align-left  { float: left; }
.align-right { float: right; }

body > header {
  background: $bluewood;
  padding: 0;
  margin-bottom: 2em;
}
.header__wrapper {
  background: $blue-4;
  padding: .7em 0 .3em 0;
  @include respond-to($ipad_portrait) { padding: .3em 0; }
}

// TODO
body > footer {
  clear: both;
  background: $bluewood;
  padding: 2em 0 0 0;
  font-size: .9rem;
  margin-top: 1em;
}

form.search-query-form { padding-left: 0; }

form.search-query-form div.input-group {
  width: 80%;
  @include respond-to($ipad_portrait) { width: 100%; }
}

input.form-control {
  display: block;
  font-size: 1em;
  width: 100%;
  height: auto;
  line-height: auto;
  color: #333333;
  padding: 10px 12px;
  border: 1px solid #2e6da4; // same border color as adjacent button
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  // -webkit-border-radius: 4px;
  // -moz-border-radius: 4px;
  // border-radius: 4px;
  border-radius: 0;
}

button#search {
  margin-left: -5px;
  font-size: 18px;
  height: auto;
  line-height: auto;
  padding: 8.5px 12px;
  @include respond-to($ipad_portrait) {
    font-size: 17px;
    display: block;
    margin: 1em auto -.5em auto;
  }
  @include respond-to($iphone_landscape) { font-size: 16px; }

  @include above-viewport($ipad_portrait) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.snap-to-grid {
  padding-left: 15px;
  padding-right: 15px;
}

.container--searchbox {
  @include respond-to($ipad_portrait) { width: 90%; }
}

.container {
  @include respond-to($ipad_portrait) {
    padding-left: 3em; // FIXME
  }
}

[class^="multicol-"] {
  margin-bottom: 2em;
  margin: 0 auto;
}
.multicol-3 { -moz-column-count: 3; }
.multicol-2 { -moz-column-count: 2; }
.multicol-1 {
  @include respond-to($screen-md-min) {
    -moz-column-count: 1;
  }
}

.page-leadin {
  //background: #eee;
  margin-bottom: 1.5em;
  padding-bottom: .7em;
  border-bottom: 2px dashed #ccc;
}

ul.data-providers-list li {
  margin-bottom: 3em;
  padding: .25em .5em;
  border: 1px dotted $blue-3;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block; //catch-all fallback
}

figure.logo-container {
  width: 15em;
  position: relative;
  top: -20px;
  left: -10px;
  z-index: 3;
}

ul.search-icons-list {
  background: inherit;
  z-index: 3;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  float: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
ul.search-icons-list li { display: inline-block; }

ul.search-icons-list a { color: $link-color-auxiliary; }

div.availability-panel {
  background: lighten($blue-3, 17%);
  margin-top: 1em;
  padding: .6em 2em .4em 0;
  border-radius: 4px;
  position: relative;
}
div.availability-panel--show {
  background: inherit;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
}

div.availability-panel ul.institutions-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  @include respond-to($iphone_landscape) { display: block; }
}

div.availability-panel ul.institutions-list li {
  display: inline-block;
  margin: 0;
  padding: 0;
  @include respond-to($iphone_landscape) { margin: .1em 0 .1em .1em; }
}
div.availability-panel--show ul.institutions-list li { margin-bottom: .3em; }

a.details-link {
  display: block;
  font-size: calc-em(21px);
  position: absolute;
  top: -9px;
  right: 10px;
}
//color overrides:
//dl.document-metadata dd[class^="ddf-index"] a.details-link { color: rgba(0,0,0, .3); }
//dl.document-metadata dd[class^="ddf-index"] a.details-link:hover { color: $orange; }

div.docdetails div.panel__block {
  border-top: 2px dashed $blue-3;
  border-bottom: 1px dashed $blue-3;
  // border: 1px dashed $blue-3;
  margin-bottom: 2em;
}

div.docdetails h2.panel__block-heading {
  margin: 0 0 1em 0;
  padding: 1em .3em;
  font-size: calc-em(17px);
  line-height: calc-em(22px);
  background: lighten($blue-3, 17%);
  font-weight: 700;
  position: relative;
}

div.docdetails h2.panel__block-heading i {
  font-size: calc-em(27px);
  position: absolute;
  top: 25%;
  right: 10px;
  color: rgba(0,0,0, .6);
  color: $blue-2;
}

div.docdetails div.panel__block-contents { padding: .3em .3em .7em .3em; }

//div.availability-panel--show ul.institutions-list i { color: $blue-2; }

div.availability-panel--show ul.institutions-list a:hover,
div.availability-panel--show ul.institutions-list a:hover i { color: $orange; }

//nav[class$="-view"]
nav.show-view,
nav.index-view {
  margin-bottom: 1em;
  border-bottom: 1px solid $blue-3;
  padding: 0 .5em 1em .5em;
}

nav.show-view ul {
  @include respond-to($iphone_landscape) {
    display: block;
    margin-bottom: 1em;
    float: none;
  }
}

div#sortAndPerPage {
  margin: 0;
  padding: 0;
  border: 0;
}

ul[class$="__pagination"],
ul[class$="__pagination"] li,
ul[class$="__resets"],
ul[class$="__resets"] li {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: calc-em(16px);
}
ul.index-view__pagination { margin-top: .4em; }


ul[class$="__pagination"] li { color: $link-color-auxiliary; }
ul[class$="__pagination"] li a,
ul[class$="__resets"] li a {
  text-decoration: underline;
  color: $link-color-auxiliary;
}

div.panel { border: 0; }
div.pagination {
  margin-top: 0;
  margin-bottom: 1em;
}
