@import "../base/all";

.wrapper {
  width: $cols15;
  @include centered;
  @include respond-to($cols13+$cols4) { width: 85%; }
  @include respond-to($ipad_portrait) { width: 90%; }
}
.measure {
  width: $cols8;
  @include centered;
  @include respond-to($cols12) { width: 85%; }
  @include respond-to($iphone_landscape) { width: 90%; }
}

/*
Some examples of classes for responsive breakpoints */
.tablet-l > *[class^="col"] {
  @include respond-to($ipad_landscape) {
    float: none;
    width: 100%;
  }
}
.tablet-p > *[class^="col"] {
  @include respond-to($ipad_portrait) {
    float: none;
    width: 100%;
  }
}
.mobile-l > *[class^="col"] {
  @include respond-to($iphone_landscape) {
    float: none;
    width: 100%;
  }
}

ul.horizontal li { display: inline-block; }

.align-left  { float: left; }
.align-right { float: right; }

body > header {
  background: $bluewood;
  padding: 0;
  margin-bottom: 2em;
}
.header__wrapper {
  background: $blue-4;
  padding: .7em 0 .3em 0;
}

// TODO
body > footer {
  clear: both;
  background: $bluewood;
  padding: 2em 0;
  color: #fff;
  font-size: .9rem;
}

form.search-query-form { padding-left: 0; }

form.search-query-form div.input-group { width: 100%; }

input.form-control {
  display: block;
  font-size: 1em;
  width: 100%;
  height: auto;
  line-height: auto;
  color: #333333;
  padding: 10px 12px;
  border: 1px solid $blue-2;
  //background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

button#search {
  font-size: 18px;
  height: auto;
  line-height: auto;
  padding: 10px 12px;
  @include respond-to($ipad_portrait) { font-size: 17px; }
  @include respond-to($iphone_landscape) { font-size: 16px; }
}

.snap-to-grid {
  padding-left: 15px;
  padding-right: 15px;
}

div.debug { background: #eee; }
div.debug-params {
  padding: 1em 0;
  background: rgba(0,0,0, .9);
  color: #2EFA05;
  text-align: center;
  font-family: 'Monaco';
  font-size: .9em;
}

.container--searchbox {
  @include respond-to($ipad_portrait) { width: 90%; }
}

.container {
  @include respond-to($ipad_portrait) {
    padding-left: 3em; // FIXME
  }
}

[class^="multicol-"] {
  margin-bottom: 2em;
  margin: 0 auto;
}
.multicol-3 { -moz-column-count: 3; }
.multicol-2 { -moz-column-count: 2; }
.multicol-1 {
  @include respond-to($screen-md-min) {
    -moz-column-count: 1;
  }
}

.page-leadin {
  margin-bottom: 2em;
  border-bottom: 2px dashed #ccc;
}

ul.data-providers-list li {
  //position: relative;
  //background: $blue-4;
  margin-bottom: 3em;
  padding: .25em .5em;
  border: 1px dotted $blue-3;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block; //catch-all fallback
}

figure.logo-container {
  width: 15em;
  position: relative;
  top: -20px;
  left: -10px;
  z-index: 3;
}
