
.table      { display: table; }
.table-cell { display: table-cell; }

//div.table ul,
div.table ul li { display: inline-block; }
div.lorem { width: 500px; }
div.list-container {
  width: 200px;
  min-width: 200px;
}
