@import "../base/all";

$sans:      'Open Sans', 'Helvetica Neue', sans-serif;
$serif:     'Crimson Text', Georgia, serif;
$headline:  'Exo 2', sans-serif;

body {
  font-family: $sans;
  font-size: $base__font-size;
  line-height: $base__line-height;

  background: $body-background;
  color: #333333;
  border-top: 3px solid $crimson;

/*
  @include respond-to($ipad_portrait) { font-size: 1.15rem; }
  @include respond-to($iphone_landscape) {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  */
}

/* vertical rhythm
--------------------------------------------- */
p, ul, ol {
  margin: 0;
  margin-bottom: 1em;
}

article[role="main"] { margin-bottom: 6em; }

/* lists
--------------------------------------------- */
ul, ol { padding-left: 0; }
ul li, ol li { margin-bottom: .7em; }
ul li { list-style-type: circle; }

ul.text,
ol.text { @include respond-to($iphone_landscape) { margin-left: 1em; } }

/* links
http://www.smashingmagazine.com/2010/02/13/the-definitive-guide-to-styling-web-links/
--------------------------------------------- */
a:link    { color: #000; }
a:visited { color: #555; }
a:hover,
a:visited:hover,
a:focus,
a:active { color: red; }

nav.upper { font-size: .9em; }

h1.logo {
  font-family: $headline;
  font-size: calc-em(27px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: .1em;
  color: rgba(52, 73, 94, 1); //Pickled Bluewood
  margin: .5em 0 .7em 0;
  @include respond-to($iphone_landscape) {
    font-size: 1.2em;
  }
}

h1.logo em {
  font-size: calc-em(18px);
  display: block;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  font-family: $serif;
}

/* PROTOTYPE START */
form.search fieldset {
  border: 0;
  padding: 0;
}

form.search fieldset input[type="search"] {
  width: 70%;
  padding: 12px 14px;
  font-size: 18px;
  border: 1px solid #bbb;
  //background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form.search fieldset button[type="submit"] {
  padding: 10px 15px;
  //font-size: 18px;
  color: #fff;
  border: none;
  background: #2d89ef;
  border-radius: 4px;
}
form.search fieldset button[type="submit"]:hover,
form.search fieldset button[type="submit"]:focus  { background: #2164AF; }
form.search fieldset button[type="submit"]:active { background: #2164AF; }

form.search fieldset button[type="submit"] i { font-size: 1.25em; }

ul.facets-list>li { list-style-type: none; }

ul.facet-items-list { margin: 0 .5em 0 1em; }

ul.facet-items-list>li {
  font-size: .9em;
  list-style-type: none;
  padding: .1em .3em;
  margin: 0.25em 0;
}
ul.facet-items-list>li:last-child { margin-bottom: 1em; }
ul.facet-items-list>li:hover { background: #eee; }

ul.facet-items-list>li a {
  display: block;
  text-decoration: none;
}

em.number-of-items { color: #777; }

h1.facet-heading {
  font-size: 1em;
  line-height: 1.25em;
  background: #eff4ff;
  padding: .5em 1em;
  //text-transform: uppercase;
}

h1.facet-heading span.close { font-size: 1.4em; }
/* PROTOTYPE END */



dl.dl-invert dt[class^="blacklight-"] {
  font-weight: 600;
  color: #333;
}

div.documentHeader > h5.index_title {
  font-family: $headline;
  font-size: calc-em(20px);
  line-height: calc-em(22px);
  margin: .25em 0 .125em 0;
}
div.documentHeader > h5.index_title a:link {
  text-decoration: underline;
  padding: .1em .3em .3em .3em;
  color: $link-color;
}
div.documentHeader > h5.index_title a:hover {
  text-decoration: none;
  background: #EFEFEF;
  color: #FF530D;
}

nav[role="main"]  { padding: .5em 0; }
nav[role="main"] > ul { margin: 0; }
nav[role="main"] > ul.menu-items-list { margin-top: .5em; }
nav[role="main"] { font-size: .9em; }
nav[role="main"] li.home { font-size: calc-em(30px); }

ul.menu-items-list li {
  padding: 0 .3em;
  margin: 0;
}

