@import "../base/all";

$sans:      'Open Sans', 'Helvetica Neue', sans-serif;
$serif:     'Crimson Text', Georgia, serif;
$headline:  'Exo 2', sans-serif;

body {
  font-family: $sans;
  //font-size: $base__font-size;
  //line-height: $base__line-height;

  background: $body-background;
  color: #333333;
  border-top: 3px solid $orange;
  border-bottom: 3px solid $orange;

/*
  @include respond-to($ipad_portrait) { font-size: 1.15rem; }
  @include respond-to($iphone_landscape) {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  */
}

/* vertical rhythm
--------------------------------------------- */
p, ul, ol {
  margin: 0;
  margin-bottom: 1em;
}

article[role="main"] { margin-bottom: 6em; }

/* lists
--------------------------------------------- */
ul, ol { padding-left: 0; }
ul li, ol li { margin-bottom: .7em; }
ul li { list-style-type: circle; }

ul.text,
ol.text { @include respond-to($iphone_landscape) { margin-left: 1em; } }

/* links
http://www.smashingmagazine.com/2010/02/13/the-definitive-guide-to-styling-web-links/
--------------------------------------------- */
a:link    { color: #000; }
a:visited { color: #555; }
a:hover,
a:visited:hover,
a:focus,
a:active { color: red; }

nav.upper { font-size: .9em; }

h1.logo {
  font-family: $headline;
  font-size: calc-em(25px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: .1em;
  color: $bluewood;
  color: #fff;
  margin: 0 0 .7em 0;
  @include respond-to($iphone_landscape) {
    font-size: calc-em(24px);
  }
}

h1.logo em {
  font-size: calc-em(18px);
  display: block;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  font-family: $serif;
  color: $orange;
}

/* PROTOTYPE START */


ul.facets-list>li { list-style-type: none; }

ul.facet-items-list { margin: 0 .5em 0 1em; }

ul.facet-items-list>li {
  font-size: .9em;
  list-style-type: none;
  padding: .1em .3em;
  margin: 0.25em 0;
}
ul.facet-items-list>li:last-child { margin-bottom: 1em; }
ul.facet-items-list>li:hover { background: #eee; }

ul.facet-items-list>li a {
  display: block;
  text-decoration: none;
}

em.number-of-items { color: #777; }

h1.facet-heading {
  font-size: 1em;
  line-height: 1.25em;
  background: #eff4ff;
  padding: .5em 1em;
  //text-transform: uppercase;
}

h1.facet-heading span.close { font-size: 1.4em; }
/* PROTOTYPE END */

dl.document-metadata {
  margin-bottom: 1.25em;
  //possible to accommodate longer fields by decreasing font size, though effect not as good:
  //font-size: .9rem;
}

dl.document-metadata dt[class^="blacklight-"],
dl.document-metadata dt[class^="ddf-index"] {
  font-weight: 600;
  color: #333;
  //width: 160px; -> the default
  //width: 180px; -> to accommodate longer fields
  // the proper way to override width:
  //@include above-viewport($ipad_portrait) { width: 180px; }
  //background: #aaa;
}
dl.document-metadata dd[class^="blacklight-"],
dl.document-metadata dd[class^="ddf-index"] {
  margin-bottom: .4em;
  //margin-left: 180px; -> the default
  //margin-left: 190px; -> to accommodate longer fields
  // the proper way to override left margin:
  //@include above-viewport($ipad_portrait) { margin-left: 190px; }
}
dl.document-metadata dd[class^="ddf-index"] a { font-weight: 600; }
dl.document-metadata dd[class^="ddf-index"] a:link,
dl.document-metadata dd[class^="ddf-index"] a:visited {
  color: $link-color;
  text-decoration: underline;
}
dl.document-metadata dd[class^="ddf-index"] a:hover,
dl.document-metadata dd[class^="ddf-index"] a:visited:hover,
dl.document-metadata dd[class^="ddf-index"] a:active {
  color: $orange;
  text-decoration: none;
}

div.documentHeader > h5.index_title {
  font-family: $headline;
  font-size: calc-em(20px);
  line-height: calc-em(22px);
  margin: .25em 0 .7em 0;
  @include respond-to($ipad_portrait) { margin: .25em 0 0 0; }
}
div.documentHeader > h5.index_title a:link {
  text-decoration: underline;
  padding: .1em .3em .3em .3em;
  color: $link-color;
}
div.documentHeader > h5.index_title a:hover {
  text-decoration: none;
  background: #EFEFEF;
  color: #FF530D;
}

nav[role="main"]  {
  padding: .5em 0;
  margin-bottom: 1em;
}
nav[role="main"] > ul.admin {
  margin: 0;
  margin-top: .7em;
  font-size: .9em;
}
nav[role="main"] ul.home {
  font-size: calc-em(30px);
  margin-top: -5px;
}

// div.navbar-right ul { margin-right: 1em; }
nav[role="main"] > ul.admin li {
  display: inline-block;
  padding: 0 .3em;
  margin: 0;
}
nav[role="main"] > ul.admin a {
  //padding: .12em 0;
  padding: 0;
  margin: 0;
}
nav[role="main"] > ul.admin a:link,
nav[role="main"] > ul.admin a:visited,
nav[role="main"] > ul.admin a:hover,
nav[role="main"] > ul.admin a:visited:hover,
nav[role="main"] > ul.admin a:active { background: inherit; }

nav[role="main"] > ul.admin a:hover  { text-decoration: underline; }

nav[role="main"] > ul.admin a:link    { color: #fff; }
nav[role="main"] > ul.admin a:visited { color: #fff; }
nav[role="main"] > ul.admin a:hover,
nav[role="main"] > ul.admin a:visited:hover,
nav[role="main"] > ul.admin a:focus,
nav[role="main"] > ul.admin a:active  { color:  $orange; }

#sidebar h4 {
  font-weight: 600;
  color: $blue-1;
  text-transform: uppercase;
  letter-spacing: .07em;
}

#sidebar .panel-default > .panel-heading {
  background-color: $blue-4;
  border-color: #ddd;
  color: #333333;
}

#sidebar .panel-default > .panel-heading:hover,
#sidebar .panel-default > .panel-heading:active {
  background-color: darken($blue-4, 5%);
}

#sidebar ul.facet-values li {
 //display: block; Good luck overriding display: table-row;
 font-size: calc-em(15px);
 //line-height: 1.6em;
}

#sidebar ul.facet-values li a {
  //display: inline-block;
  //padding-top: .5em;
}

ul.facet-values li span.facet-label a.facet_select { text-decoration: underline; }

ul.facet-values li:hover,
ul.facet-values li:hover span.facet-label a.facet_select,
ul.facet-values li:hover span.facet-count {
  background: $blue-4;
  color: $link-color;
  //text-decoration: underline;
}

ul.facet-values li a:link { text-decoration: none; }

ul.facet-values span.facet-count {
  font-style: italic;
  color: #888;
}

div.panel-heading h5.panel-title { font-weight: 600; }
div.panel-heading h5.panel-title a:hover,
div.panel-heading h5.panel-title a:active,
div.panel-heading h5.panel-title a:visited { text-decoration: none; }

span.facet-label span.selected {
  background: $label-dark;
  color: #000;
}

/*
ul.facet-values span.facet-label span.selected:hover {
  text-decoration: none;
}
*/

span.selected+a.remove {
  background: $label-dark;
  color: $action-red;
}
span.selected+a.remove:hover {
  background: $action-red;
  color: #fff;
}
span.selected+a.remove .glyphicon {
  right: 5px;
  top: 2px;
  font-size: .9em;
}

span.constraint-value,
#appliedParams span.constraint-value:hover {
  background: $label-light;
  color: #000;
  border: 1px solid $blue-1;
  font-size: .8em;
}
span.constraint-value+a.remove {
 background: $label-dark;
 color: $action-red;
 border: 1px solid $blue-1;
}
span.constraint-value,
span.constraint-value+a.remove { font-size: .8em; }

#appliedParams.constraints-container {
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0;
  padding: .7em 0;
}

#appliedParams span.constraints-label {
  display: block;
  font-size: calc-em(15px);
  font-weight: bold;
}

nav[role="main"] > ul { color: $blue-3; }
nav[role="main"] > ul li a:link { color: $blue-4; }
nav[role="main"] > ul li a:visited { color: $blue-4; }
nav[role="main"] > ul li a:hover { color: $orange; }
nav[role="main"] > ul li a:active { color: $orange; }

div.document h1[itemprop="name"] {
  font-size: calc-em(25px);
  line-height: calc-em(22px);
  margin: .5em 0;
  color: $bluewood;
}

div.search-widgets a.btn,
div.page_links a.next,
div.page_links a.previous { text-decoration: underline; }

a#startOverLink {
  font-size: calc-em(15px);
  font-weight: bold;
  text-decoration: underline;
  color: link-color;
  background: $action-red;
  color: #fff;
  text-decoration: none;
  //margin-top: -10px;
}
a#startOverLink:hover { background: $orange; }

h1.page-heading {
  font-family: $headline;
  font-size: calc-em(27px);
  line-height: calc-em(30px);
  margin: 0 0 .5em 0;
  color: $bluewood;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .07em;
}

p.top-cta {
  margin-top: .5em;
  @include respond-to($screen-md-min) { float: none; }
}

a.btn-info:link,
a.btn-info:visited,
a.btn-info:hover,
a.btn-info:visited:hover { color: #fff; }
a.btn-info:active        { color: #eee; }

ul.data-providers-list li { list-style-type: none; }

h1.data-provider-heading {
  font-family: $headline;
  font-size: calc-em(20px);
  line-height: calc-em(20px);
  margin: .5em 0;
  color: $bluewood;
  font-weight: 700;
  //letter-spacing: .07em;
}

form.range_limit input.form-control {
  border: 1px solid $blue-1;
  border-radius: 0;
  background: $blue-4;
  color: $orange;
  font-size: 15px;
  height: auto;
  padding: 5px 0;
  text-align: center;
}

form.range_limit input.submit {
  border: 1px solid $blue-1;
  color: #fff;
  background: $blue-2;
  font-weight: bold;
}

form.range_limit input.submit:hover {
  background: darken($blue-2, 5%);
  color: $orange;
}

div.flot-text canvas.flot-overlay {
  font-size: 15px; //FIXME
}


div.search-options-container {
  padding-top: 1.25em;
  @include respond-to($ipad_portrait) { padding: .3em 0 0 0; }
}
ul.search-options-list {
  font-size: calc-em(14px);
  margin: 0;
  @include respond-to($screen-md-min) {
    float: none;
    text-align: center;
  }
}
ul.search-options-list li { display: inline-block; }
ul.search-options-list li:not(:last-child) { margin-right: .5em; }

a.btn-danger:link,
a.btn-danger:hover,
a.btn-danger:visited:hover,
a.btn-danger:active { color: #fff; }

ul.search-widgets-list {
  margin: 0;
  margin-top: .3em;
  @include respond-to($screen-lg-min) {
    float: none;
    margin-top: 1em;
  }
}
ul.search-widgets-list > li { display: inline-block; }
ul.search-widgets-list > li:not(:last-child) { margin-right: .25em; }
ul.search-widgets-list ul.dropdown-menu li { display: block; }

ul.search-widgets-list > li a {
  color: $link-color;
  //font-weight: 600;
}
