@import "../base/all";

$serif: Georgia;
$sans:  'Helvetica Neue';

body {
  font-family: $sans;
  font-size: $base__font-size;
  line-height: $base__line-height;

  background: $body-background;
  border-top: 3px solid #D23F43;

/*
  @include respond-to($ipad_portrait) { font-size: 1.15rem; }
  @include respond-to($iphone_landscape) {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  */

}

/* vertical rhythm
--------------------------------------------- */
p, ul, ol {
  margin: 0;
  margin-bottom: 1em;
}

article[role="main"] { margin-bottom: 6em; }

/* lists
--------------------------------------------- */
ul, ol { padding-left: 0; }
ul li, ol li { margin-bottom: .7em; }
ul li { list-style-type: circle; }

ul.text,
ol.text { @include respond-to($iphone_landscape) { margin-left: 1em; } }

/* links
http://www.smashingmagazine.com/2010/02/13/the-definitive-guide-to-styling-web-links/
--------------------------------------------- */
a:link    { color: #000; }
a:visited { color: #555; }
a:hover,
a:visited:hover,
a:focus,
a:active { color: $link-hover-color; }

h1.logo {
  font-family: $serif;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: .1em;
  @include respond-to($iphone_landscape) {
    font-size: 1.2em;
  }
}

h1.logo em {
  display: block;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: .125em;
}

form.search fieldset {
  border: 0;
  padding: 0;
}

form.search fieldset input[type="search"] {
  width: 75%;
  padding: 12px 14px;
  font-size: 18px;
  border: 1px solid #ddd;
  //background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form.search fieldset button[type="submit"] {
  padding: 10px 15px;
  //font-size: 18px;
  color: #fff;
  border: none;
  background: #999;
  border-radius: 4px;
}
form.search fieldset button[type="submit"]:hover,
form.search fieldset button[type="submit"]:focus {
  background: #777;
}
form.search fieldset button[type="submit"]:active {
  background: #666;
}

form.search fieldset button[type="submit"] i {
  font-size: 1.25em;
}






