ul.icon-labels,
ul.icon-labels > li { margin: 0; }
ul.icon-labels > li { display: inline-block; }

ul.icon-labels > li > a {
  font-size: calc-em(15px);
  color: $link-color;
}
ul.icon-labels > li > i {
  position: relative;
  font-size: calc-em(19px);
  vertical-align: -5%;
  padding-right: 2px;
  color: $link-color-auxiliary;
}
ul.icon-labels__topnav > li > a { color: #fff; }
ul.icon-labels__topnav>li > i {
  // font-size: calc-em(21px);
  // top: 3px;
  color: $blue-3;
}
ul.icon-labels--selected i.glyphicon { vertical-align: 6%; }
