// #4D4D4D (gray)
// #5DA5DA (blue)
// #FAA43A (orange)
// #60BD68 (green)
// #F17CB0 (pink)
// #B2912F (brown)
// #B276B2 (purple)
// #DECF3F (yellow)
// #F15854 (red)

$chart-gray: #4D4D4D;
$chart-blue: #5DA5DA;
$chart-orange: #FAA43A;
$chart-green: #60BD68;
$chart-pink: #F17CB0;
$chart-brown: #B2912F;
$chart-purple: #B276B2;
$chart-yellow: #DECF3F;
$chart-red:   #F15854;

$chart-green--projected: lighten($chart-green, 30%);
