 /* TIMELINE CHARTS */
 ul.timeline {
  font-size: 0.75em;
  height: 10em;
  width: 53em;
}
ul.timeline li {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 15em;
}
ul.timeline li:not(:last-child) { margin-right: .5em; }

ul.timeline li a {
  display: block;
  height: 100%;
}
ul.timeline li .label {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;

  color: #000;
  font-size: 1.2em;
  padding: 0; // override BS
}
ul.timeline li a .count {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #AAA;
  text-align: center;
  // text-indent: -9999px;
  // overflow: hidden;
}
ul.timeline li:hover {
  background: #EFEFEF;
}
ul.timeline li a:hover .count {
  background: #2D7BB2;
}
