 /* TIMELINE CHARTS */
 ul.timeline {
  font-size: 0.75em;
  height: 100%;
  width: 53em;
}
ul.timeline li {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 20em;
}
ul.timeline li:not(:last-child) { margin-right: .5em; }

ul.timeline li a {
  display: block;
  height: 100%;
}
ul.timeline li .label {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;

  color: #666;
  font-size: 1.2em;
  padding: 0; // override BS
  font-weight: 700;
}
ul.timeline li a .count {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: $chart-green;
  text-align: center;
  padding-top: .3em;
  font-weight: 700;
  color: #333;
}
ul.timeline li:hover {
  background: #EFEFEF;
}
ul.timeline li a:hover .count {
  // background: #2D7BB2;
}

ul.timeline li.unavailable .count { display: none; }

ul.timeline li.projected .count { background: $chart-green--projected; }

div.oa-development-chart {
  // height: 15em;
  // background: #eee;
}

