<ul class="search-extras-list icon-labels align-right">
  <li>
    <i class="glyphicon glyphicon-time"></i>
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
  </li>
</ul>

