<div class="container" id="exhibit-navigation">
  <div class="row">
    <div class="col-md-12">
      <% if current_exhibit %>
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?(current_exhibit) %>">
          <%= link_to t(:'spotlight.curation.nav.home'), current_exhibit %>
        </li>
        <%# Spotlight per default shows these pages in a dropdown - we don't want this  %>
        <% current_exhibit.nav_pages.each do |page|  %>
            <li class="<%= "active" if current_page?(url_for([spotlight, page.exhibit, page])) %>">
              <%= link_to page.title, [spotlight, page.exhibit, page] %>
            </li>
        <% end  %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
